@{
    ViewBag.Title = "GrpHealthEnrollment";
}
<h2>Health Insurance Premiums</h2>
<h5>Major Medical (includes 15K Life Insurance)</h5>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>Employee Page</title>
</head>
<body>
    @* Health Ins Premium *@
    <div class="form-horizontal">
        <div class="collapsible" id="ThirdStep">Health Insurance Premiums</div>
        <table class="container-fluid table-bordered" id="InsPremTable" cellpadding="20" cellspacing="20">
            <tr>
                <td>
                    <table class="table table-condensed" width="400" cellpadding="10" cellspacing="10" border="1">
                        <thead class="thead-dark">
                            <tr>
                                <th>Plan</th>
                                <th>Employee Only</th>
                                <th>Employee/Spouse</th>
                                <th>Employee/Child(ren)</th>
                                <th>Employee/Family</th>
                                <th>Yearly Cost</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <label>(MEC Plan) Monthly Cost per Employee:</label>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="EmployeeOnly" size="10" id="MECmonthlyCostEmpOnly" value="" readonly />
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="EmployeeAndSpouse" size="10" id="MECmonthlyCostEmpSp" value="" readonly />
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="EmployeeAndDependent" size="10" id="MECmonthlyCostEmpDep" value="" readonly />
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="EmployeeAndFamily" size="10" id="MECmonthlyCostEmpFam" value="" readonly />
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="YearlyPremiumCost" size="10" id="MECMnthyearlyPremiumCost" value="" readonly />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>(MEC Plan) Bi-weekly Cost per Employee:</label>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="EmployeeOnly" size="10" id="MECbiweeklyCostEmpOnly" value="" readonly />
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="EmployeeAndSpouse" size="10" id="MECbiweeklyCostEmpSp" value="" readonly />
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="EmployeeAndDependent" size="10" id="MECbiweeklyCostEmpDep" value="" readonly />
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="EmployeeAndFamily" size="10" id="MECbiweeklyCostEmpFam" value="" readonly />
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="YearlyPremiumCost" size="10" id="MECBiWkyearlyPremiumCost" value="" readonly />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>(Standard Plan) Monthly Cost per Employee:</label>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="EmployeeOnly" size="10" id="StndmonthlyCostEmpOnly" value="" readonly />
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="EmployeeAndSpouse" size="10" id="StndmonthlyCostEmpSp" value="" readonly />
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="EmployeeAndDependent" size="10" id="StndmonthlyCostEmpDep" value="" readonly />
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="EmployeeAndFamily" size="10" id="StndmonthlyCostEmpFam" value="" readonly />
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="YearlyPremiumCost" size="10" id="StndMnthyearlyPremiumCost" value="" readonly />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>(Standard Plan) Bi-weekly Cost per Employee:</label>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="EmployeeOnly" size="10" id="StndbiweeklyCostEmpOnly" value="" readonly />
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="EmployeeAndSpouse" size="10" id="StndbiweeklyCostEmpSp" value="" readonly />
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="EmployeeAndDependent" size="10" id="StndbiweeklyCostEmpDep" value="" readonly />
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="EmployeeAndFamily" size="10" id="StndbiweeklyCostEmpFam" value="" readonly />
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="YearlyPremiumCost" size="10" id="StndBiWkyearlyPremiumCost" value="" readonly />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>(Buy Up Plan) Monthly Cost per Employee:</label>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="EmployeeOnly" size="10" id="BuyUpmonthlyCostEmpOnly" value="" readonly />
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="EmployeeAndSpouse" size="10" id="BuyUpmonthlyCostEmpSp" value="" readonly />
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="EmployeeAndDependent" size="10" id="BuyUpmonthlyCostEmpDep" value="" readonly />
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="EmployeeAndFamily" size="10" id="BuyUpmonthlyCostEmpFam" value="" readonly />
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="YearlyPremiumCost" size="10" id="BuyUpMnthyearlyPremiumCost" value="" readonly />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>(Buy Up Plan) Bi-weekly Cost per Employee:</label>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="EmployeeOnly" size="10" id="BuyUpbiweeklyCostEmpOnly" value="" readonly />
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="EmployeeAndSpouse" size="10" id="BuyUpbiweeklyCostEmpSp" value="" readonly />
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="EmployeeAndDependent" size="10" id="BuyUpbiweeklyCostEmpDep" value="" readonly />
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="EmployeeAndFamily" size="10" id="BuyUpbiweeklyCostEmpAndFam" value="" readonly />
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="YearlyPremiumCost" size="10" id="BuyUpBiWkyearlyPremiumCost" value="" readonly />
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="col-md-12 table-bordered" readonly>
                        These prices are in effect for 01-01-2019 through 12-31-2019<br />
                        <p></p>
                        Estimated costs* for COBRA participants for the 2019 year:<br />
                        <p></p>
                        Employee rate MEC plan $75.00 per month<br />
                        Employee/Family rate MEC plan $230.00 per month<br />
                        --------------------------------------------------<br />
                        Employee rate Premium plan $638.52 per month<br />
                        Employee/Family rate Premium plan $1,518 per month<br />
                        <p></p>
                        *Note: a 2% Adminstration fee will be added to the COBRA rates listed<br />
                    </div>
                    @*<p>
                            <button type="submit" class="btn" id="InsPremiumUpdateStepThree" @*onclick="InsPremiumUpdate()" value="Submit">Save</button>
                        </p>*@
                    <div class="form-group">
                        <div class="col-md-offset-11">
                            <button id="InsPremiumUpdateStepOne" @*onclick="return ContactUpdate()"*@ class="hidden"></button>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    @* db.InsurancePlanDetail- col- Item, Detail *@
    <div class="form-horizontal">
        <hr />
        <div class="collapsible" id="FourthStep">Health Insurance Supplement</div>
        <table class="container-fluid table-bordered" id="InsSupplementTable" cellpadding="20" cellspacing="20">
            <tr>
                <td>
                    <table class="table table-condensed" width="400" cellpadding="10" cellspacing="10" border="1">
                        <thead class="thead-dark">
                            <tr>
                                <th><u>Dental Cost Analysis</u></th>
                                <th><u>Guardian Dental Plan</u></th>
                                <th></th>
                                <th><u>Vision Cost Analysis</u></th>
                                <th><u>Guardian Vision Plan</u></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <label>Employee Only:</label>
                                </td>
                                <td>
                                    <div class="col-md-6">
                                        <input type="text" name="Item" size="10" id="DentalCostEmpOnly" value="" readonly />
                                    </div>
                                </td>
                                <td></td>
                                <td>
                                    <label>Employee Only:</label>
                                </td>
                                <td>
                                    <div class="col-md-6">
                                        <input type="text" name="Item" size="10" id="VisionCostEmpOnly" value="" readonly />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Employee + Spouse:</label>
                                </td>
                                <td>
                                    <div class="col-md-6">
                                        <input type="text" name="Item" size="10" id="DentalCostEmpSp" value="" readonly />
                                    </div>
                                </td>
                                <td></td>
                                <td>
                                    <label>Employee + Spouse:</label>
                                </td>
                                <td>
                                    <div class="col-md-6">
                                        <input type="text" name="Item" size="10" id="VisionCostEmpSp" value="" readonly />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Employee + Dependent(s):</label>
                                </td>
                                <td>
                                    <div class="col-md-6">
                                        <input type="text" name="Item" size="10" id="DentalCostEmpDep" value="" readonly />
                                    </div>
                                </td>
                                <td></td>
                                <td>
                                    <label>Employee + Dependent(s):</label>
                                </td>
                                <td>
                                    <div class="col-md-6">
                                        <input type="text" name="Item" size="10" id="VisionCostEmpDep" value="" readonly />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Employee + Family:</label>
                                </td>
                                <td>
                                    <div class="col-md-6">
                                        <input type="text" name="Item" size="10" id="DentalCostEmpFam" value="" readonly />
                                    </div>
                                </td>
                                <td></td>
                                <td>
                                    <label>Employee + Family:</label>
                                </td>
                                <td>
                                    <div class="col-md-6">
                                        <input type="text" name="Item" size="10" id="VisionCostEmpFam" value="" readonly />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Summary of Dental Benefits:</label>
                                </td>
                                <td>
                                    <div class="col-md-6">
                                        <input type="text" name="Item" size="10" id="SummaryOfDentalBenefits" value="" readonly />
                                    </div>
                                </td>
                                <td></td>
                                <td>
                                    <label>Summary of Dental Benefits:</label>
                                </td>
                                <td>
                                    <div class="col-md-6">
                                        <input type="text" name="Item" size="10" id="SummaryOfVisionBenefits" value="" readonly />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Calendar Year Deductible:</label>
                                </td>
                                <td>
                                    <div class="col-md-6">
                                        <input type="text" name="Item" size="10" id="" value="" readonly />
                                    </div>
                                </td>
                                <td></td>
                                <td>
                                    <label>Co-pay:</label>
                                </td>
                                <td>
                                    <div class="col-md-6">
                                        <input type="text" name="Item" size="10" id="" value="" readonly />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Waived for Preventive:</label>
                                </td>
                                <td>
                                    <div class="col-md-6">
                                        <input type="text" name="Item" size="10" id="" value="" readonly />
                                    </div>
                                </td>
                                <td></td>
                                <td>
                                    <label>Exams:</label>
                                </td>
                                <td>
                                    <div class="col-md-6">
                                        <input type="text" name="Item" size="10" id="" value="" readonly />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Annual Maximum:</label>
                                </td>
                                <td>
                                    <div class="col-md-6">
                                        <input type="text" name="Item" size="10" id="" value="" readonly />
                                    </div>
                                </td>
                                <td></td>
                                <td>
                                    <label>Materials:</label>
                                </td>
                                <td>
                                    <div class="col-md-6">
                                        <input type="text" name="Item" size="10" id="" value="" readonly />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Preventive:</label>
                                </td>
                                <td>
                                    <div class="col-md-6">
                                        <input type="text" name="Item" size="10" id="" value="" readonly />
                                    </div>
                                </td>
                                <td></td>
                                <td>
                                    <label>Lenses Single Vision:</label>
                                </td>
                                <td>
                                    <div class="col-md-6">
                                        <input type="text" name="Item" size="10" id="" value="" readonly />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Basic:</label>
                                </td>
                                <td>
                                    <div class="col-md-6">
                                        <input type="text" name="Item" size="10" id="" value="" readonly />
                                    </div>
                                </td>
                                <td></td>
                                <td>
                                    <label>Bifocal:</label>
                                </td>
                                <td>
                                    <div class="col-md-6">
                                        <input type="text" name="Item" size="10" id="" value="" readonly />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Major:</label>
                                </td>
                                <td>
                                    <div class="col-md-6">
                                        <input type="text" name="Item" size="10" id="" value="" readonly />
                                    </div>
                                </td>
                                <td></td>
                                <td>
                                    <label>Trifocal:</label>
                                </td>
                                <td>
                                    <div class="col-md-6">
                                        <input type="text" name="Item" size="10" id="" value="" readonly />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>UCR%:</label>
                                </td>
                                <td>
                                    <div class="col-md-6">
                                        <input type="text" name="Item" size="10" id="" value="" readonly />
                                    </div>
                                </td>
                                <td></td>
                                <td>
                                    <label>Lenticular:</label>
                                </td>
                                <td>
                                    <div class="col-md-6">
                                        <input type="text" name="Item" size="10" id="" value="" readonly />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Endodontics/Peridontics:</label>
                                </td>
                                <td>
                                    <div class="col-md-6">
                                        <input type="text" name="Item" size="10" id="" value="" readonly />
                                    </div>
                                </td>
                                <td></td>
                                <td>
                                    <label>Contact (medically necessary):</label>
                                </td>
                                <td>
                                    <div class="col-md-6">
                                        <input type="text" name="Item" size="10" id="" value="" readonly />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Orthodontics:</label>
                                </td>
                                <td>
                                    <div class="col-md-6">
                                        <input type="text" name="Item" size="10" id="" value="" readonly />
                                    </div>
                                </td>
                                <td></td>
                                <td>
                                    <label>Contact (elective):</label>
                                </td>
                                <td>
                                    <div class="col-md-6">
                                        <input type="text" name="Item" size="10" id="" value="" readonly />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Orthodontia Lifetime Maximum:</label>
                                </td>
                                <td>
                                    <div class="col-md-6">
                                        <input type="text" name="Item" size="10" id="" value="" readonly />
                                    </div>
                                </td>
                                <td></td>
                                <td>
                                    <label>Frames:</label>
                                </td>
                                <td>
                                    <div class="col-md-6">
                                        <input type="text" name="Item" size="10" id="" value="" readonly />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Waiting Period:</label>
                                </td>
                                <td>
                                    <div class="col-md-6">
                                        <input type="text" name="Item" size="10" id="" value="" readonly />
                                    </div>
                                </td>
                                <td></td>
                                <td>
                                    <label>Network:</label>
                                </td>
                                <td>
                                    <div class="col-md-6">
                                        <input type="text" name="Item" size="10" id="" value="" readonly />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Dental Network:</label>
                                </td>
                                <td>
                                    <div class="col-md-6">
                                        <input type="text" name="Item" size="10" id="" value="" readonly />
                                    </div>
                                </td>
                                <td></td>
                                <td>
                                    <label>Rate Guarantee:</label>
                                </td>
                                <td>
                                    <div class="col-md-6">
                                        <input type="text" name="Item" size="10" id="" value="" readonly />
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p>
                        **Rates guarantee for 1 year<br />
                        -Subject to maxiumum rollover (Threshold $500; Rollover amount $250)<br />
                        -Basic Life/AD&D: Only those on medical are eligible for basic life & AD&D
                    </p>
                    <div class="form-group">
                        <div class="col-md-offset-11">
                            <button id="InsSupplementUpdateStepTwo" @*onclick="return ContactUpdate()"*@ class="hidden">Save</button>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <hr />
    <div class="form-horizontal">
        <div class="collapsible" id="ThirdStep">Group Health Insurance Enrollment</div>
        <div>
            <p></p>
            <div style="border:solid" class="aside">
                <label>Employment Information: (To be completed by Employer)</label>
                <p></p>
                <div>
                    <input type="text" class="form-control" name="GroupName" placeholder="Group Name" value="" />
                </div>
                <p></p>
                <div>
                    <input type="text" class="form-control" name="IMSGroupNumber" placeholder="IMS Group Number" value="" />
                </div>
                <p></p>
                <div>
                    <input type="text" class="form-control" name="Department" placeholder="Department" value="" />
                </div>
                <p></p>
                <div>
                    <input type="text" class="form-control" name="EnrollmentType" placeholder="Enrollment Type" value="" />
                </div>
                <p></p>
                <div>
                    <input type="text" class="form-control" name="Payroll_id" placeholder="Payroll ID" value="" />
                </div>
                <p></p>
                <div>
                    <input type="text" class="form-control" name="Class" placeholder="Class" value="" />
                </div>
                <p></p>
                <div>
                    <input type="text" class="form-control" name="AnnualSalary" placeholder="Annual Salary" value="" />
                </div>
                <p></p>
                <div>
                    <input type="text" class="form-control" name="JobTitle" placeholder="Occupation" value="" />
                </div>
                <p></p>
                <div>
                    <input type="text" class="form-control" name="HireDate" placeholder="Employment Date" value="" />
                </div>
                <p></p>
                <div>
                    <input type="text" class="form-control" name="EffectiveDate" placeholder="Effective Date" value="" />
                </div>
                <p></p>
                <div>
                    <input type="number" class="form-control" name="HoursWorkedPerWeek" placeholder="Min. Hrs. Worked/Wk" value="" />
                </div>
            </div>
            <div>
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" placeholder="Employee Number" name="SSN" value="" />
                </div>
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" placeholder="First Name" name="FirstName" value="" />
                </div>
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" placeholder="Last Name" name="LastName" value="" />
                </div>
                <p></p>
                <div class="form-group col-md-6">
                    <input type="text" id="MailingAddress" class="form-control" placeholder="Street" name="MailingAddress" value="" />
                    <input type="text" id="PObox" class="form-control" placeholder="PO Box" name="PObox" value="" />
                    <input type="text" id="City" class="form-control" placeholder="City" name="City" value="" />
                    <input type="text" id="State" class="form-control" placeholder="State" name="State" value="" />
                    <input type="text" id="ZipCode" class="form-control" placeholder="Zip Code" name="ZipCode" value="" />
                </div>
                <div>
                    <select id="Gender" class="form-control">
                        <option value="">Gender:</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div>
                <p></p>
                <div>
                    <select id="MaritalStatus" class="form-control">
                        <option value="">Marital Status:</option>
                        <option value="MarriedwDep">Married with Dependents</option>
                        <option value="Married">Married</option>
                        <option value="SinglewDep">Single with Dependents</option>
                        <option value="Single">Single</option>
                    </select>
                </div>
                <p></p>
                <div>
                    <input type="text" class="form-control" placeholder="Email Address" name="EmailAddress" value="" />
                </div>
                <div>
                    <input type="text" class="form-control" placeholder="Phone Number" name="PhoneNumber" value="" />
                </div>
                <p></p>
                <div>
                    <label>Birth Date:</label>
                    <input type="date" class="form-control" name="DateOfBirth" value="" />
                </div>
                <hr />
                <div>
                    <div class="form-control">
                        <label>Are you covered by any other insurance, including Medicare?</label>
                        <label class="radio-inline"><input type="radio" class="radio-inline" onclick="return ShowEmpCoveredByOtherIns()" name="CoveredByOtherInsurance" value="true" checked />Yes</label>
                        <label class="radio-inline"><input type="radio" class="radio-inline" onclick="return HideEmpCoveredByOtherIns()" name="CoveredByOtherInsurance" value="false" />No</label>
                    </div>
                    <div id="divEmpCoveredByOtherIns">
                        <div class="form-group col-md-3">
                            <input type="text" id="InsuranceCompany" class="form-control" placeholder="Insurance Company" name="InsuranceCompany" value="" />
                        </div>
                        <div class="form-group col-md-3">
                            <input type="text" id="PolicyNumber" class="form-control" placeholder="Policy #" name="PolicyNumber" value="" />
                        </div>
                        <div class="form-group col-md-3">
                            <input type="tel" id="InsPhoneNumber" class="form-control" placeholder="Phone #" name="PhoneNumber" size="3" maxlength="14" value="" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th></th>
                                <th>None</th>
                                <th>Employee Only</th>
                                <th>Employee & Spouse</th>
                                <th>Employee & Dependent</th>
                                <th>Employee & Family</th>
                            </tr>
                        </thead>
                        <tr>
                            <td>Medical Plan:</td>
                            <td>
                                <select id="NoneGroupHealthOption" class="form-control">
                                    <option value="">Choose Option:</option>
                                    <option></option>
                                    <option value="No Medical Plan" name="NoMedicalPlan">None</option>
                                </select>
                            </td>
                            <td>
                                <select id="EmpOnlyGroupHealthOption" class="form-control">
                                    <option value="">Choose Option:</option>
                                    <option></option>
                                    <option value="MEC Plan" name="EmployeeOnly">MEC Plan</option>
                                    <option value="Standard Plan" name="EmployeeOnly">Standard Plan</option>
                                    <option value="Buy Up Plan" name="EmployeeOnly">Buy Up Plan</option>
                                </select>
                            </td>
                            <td>
                                <select id="EmpSpGroupHealthOption" class="form-control">
                                    <option value="">Choose Option:</option>
                                    <option></option>
                                    <option value="MEC Plan" name="EmployeeAndSpouse">MEC Plan</option>
                                    <option value="Standard Plan" name="EmployeeAndSpouse">Standard Plan</option>
                                    <option value="Buy Up Plan" name="EmployeeAndSpouse">Buy Up Plan</option>
                                </select>
                            </td>
                            <td>
                                <select id="EmpDepGroupHealthOption" class="form-control">
                                    <option value="">Choose Option:</option>
                                    <option></option>
                                    <option value="MEC Plan" name="EmployeeAndDependent">MEC Plan</option>
                                    <option value="Standard Plan" name="EmployeeAndDependent">Standard Plan</option>
                                    <option value="Buy Up Plan" name="EmployeeAndDependent">Buy Up Plan</option>
                                </select>
                            </td>
                            <td>
                                <select id="EmpFamGroupHealthOption" class="form-control">
                                    <option value="">Choose Option:</option>
                                    <option></option>
                                    <option value="MEC Plan" name="EmployeeAndFamily">MEC Plan</option>
                                    <option value="Standard Plan" name="EmployeeAndFamily">Standard Plan</option>
                                    <option value="Buy Up Plan" name="EmployeeAnEmployeeAndFamilydDependent">Buy Up Plan</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="form-group col-md-12">
                    <div class="floatLeft">
                        <table class="table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th colspan="2">Spouse's Information</th>
                                </tr>
                            </thead>
                            <tr>
                                <td class="text">
                                    <input type="text" class="form-control" placeholder="First Name" value="" />
                                </td>
                                <td class="text">
                                    <input type="text" class="form-control" placeholder="Last Name" value="" />
                                </td>
                            </tr>
                            <tr>
                                <td class="text" colspan="2">
                                    <input type="text" class="form-control" placeholder="Address" value="" />
                                </td>
                            </tr>
                            <tr>
                                <td class="text">
                                    <input type="text" class="form-control" placeholder="City" value="" />
                                </td>
                                <td class="text">
                                    <input type="text" class="form-control" placeholder="State" value="" />
                                </td>
                            </tr>
                            <tr>
                                <td class="text" colspan="2">
                                    <input type="text" class="form-control" placeholder="Zip Code" value="" />
                                </td>
                            </tr>
                            <tr>
                                <td class="text" colspan="2">
                                    <input type="tel" class="form-control" placeholder="Phone Number" value="" />
                                </td>
                            </tr>
                            <tr>
                                <td class="text" colspan="2">
                                    <input type="date" class="form-control" placeholder="Birth Date" value="" />
                                </td>
                            </tr>
                            <tr>
                                <td class="text" colspan="2">
                                    <select id="Gender" class="form-control">
                                        <option>Gender Selection:</option>
                                        <option>Male</option>
                                        <option>Female</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="floatCenter">
                        <table class="table-bordered" border="1">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Spouse's Employer</th>
                                </tr>
                            </thead>
                            <tr>
                                <td class="text">
                                    <input type="text" class="form-control" placeholder="Employer" value="" />
                                </td>
                            </tr>
                            <tr>
                                <td class="text">
                                    <input type="text" class="form-control" placeholder="Street" value="" />
                                </td>
                            </tr>
                            <tr>
                                <td class="text">
                                    <input type="text" class="form-control" placeholder="City" value="" />
                                </td>
                            </tr>
                            <tr>
                                <td class="text">
                                    <input type="text" class="form-control" placeholder="State" value="" />
                                </td>
                            </tr>
                            <tr>
                                <td class="text">
                                    <input type="text" class="form-control" placeholder="Zip Code" value="" />
                                </td>
                            </tr>
                            <tr>
                                <td class="text">
                                    <input type="text" class="form-control" placeholder="Phone Number" value="" />
                                </td>
                            </tr>
                            <tr>
                                <td class="text">
                                    <select id="OtherCoverageSelectOption" class="form-control">
                                        <option>Other Ins. Coverage:</option>
                                        <option>Medical</option>
                                        <option>Dental</option>
                                        <option>Vision</option>
                                        <option>Indemnity</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="floatRight">
                        <table class="table-bordered" border="1">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Spouse's Insurance</th>
                                </tr>
                            </thead>
                            <tr>
                                <td class="text">
                                    <input type="text" class="form-control" placeholder="Insurance Company" value="" />
                                </td>
                            </tr>
                            <tr>
                                <td class="text">
                                    <input type="text" class="form-control" placeholder="Address" value="" />
                                </td>
                            </tr>
                            <tr>
                                <td class="text">
                                    <input type="text" class="form-control" placeholder="City" value="" />
                                </td>
                            </tr>
                            <tr>
                                <td class="text">
                                    <input type="text" class="form-control" placeholder="State" value="" />
                                </td>
                            </tr>
                            <tr>
                                <td class="text">
                                    <input type="text" class="form-control" placeholder="Zip Code" value="" />
                                </td>
                            </tr>
                            <tr>
                                <td class="text">
                                    <input type="text" class="form-control" placeholder="Phone Number" value="" />
                                </td>
                            </tr>
                            <tr>
                                <td class="text">
                                    <input type="text" class="form-control" placeholder="Policy #" value="" />
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <p></p>
                <div id="DepInsCoverageInfo">
                    <label><u>Dependent Information- Complete this section for all dependents you want covered.</u></label>
                    <div>
                        <div class="form-group col-md-3">
                            <input type="text" id="DepFirstName" class="form-control" placeholder="First Name" name="FirstName" value="" />
                        </div>
                        <div class="form-group col-md-3">
                            <input type="text" id="DepLastName" class="form-control" placeholder="Last Name" name="LastName" value="" />
                        </div>
                        <div class="form-group col-md-2">
                            <input type="text" class="form-control" placeholder="SSN" name="SSN" value="" />
                        </div>
                        <div class="form-group col-md-3">
                            <input type="date" id="DateOfBirth" class="form-control" name="DateOfBirth" value="" />
                        </div>
                        <div class="form-group col-md-2">
                            <select id="Gender" class="form-control">
                                <option value="">Gender Selection:</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                        </div>
                    </div>
                    <div>
                        <div>
                            <div>
                                <label>Is your dependent covered by other insurance, including Medicare/Medicaid?</label>
                                <label class="radio-inline"><input type="radio" class="radio-inline" onclick="return ShowDepCoveredByOtherIns()" name="CoveredByOtherInsurance" value="true" checked />Yes</label>
                                <label class="radio-inline"><input type="radio" class="radio-inline" onclick="return HideDepCoveredByOtherIns()" name="CoveredByOtherInsurance" value="false" />No</label>
                            </div>
                        </div>
                        <div id="divDepCoveredByOtherIns">
                            <div class="form-group col-md-3">
                                <input type="text" id="InsuranceCompany" class="form-control" placeholder="Insurance Company" name="InsuranceCompany" value="" />
                            </div>
                            <div class="form-group col-md-3">
                                <input type="text" id="PolicyNumber" class="form-control" placeholder="Policy #" name="PolicyNumber" value="" />
                            </div>
                            <div class="form-group col-md-3">
                                <input type="tel" id="InsPhoneNumber" class="form-control" placeholder="Phone #" name="PhoneNumber" size="3" maxlength="14" value="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>


<style>
    .collapsible {
        background-color: #333;
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: center;
        outline: none;
        font-size: 15px;
    }

        .active, .collapsible:hover {
            background-color: #555;
        }

    .content {
        padding: 0 18px;
        display: none;
        overflow: hidden;
        background-color: #f1f1f1;
    }

    .btn {
        background-color: #333;
        color: white;
    }

    .button {
        text-align: right;
    }

    a {
        text-decoration: none;
        display: inline-block;
        padding: 8px 16px;
    }

        a:hover {
            background-color: #ddd;
            color: black;
        }

    .aside {
        float: right;
    }

    .floatLeft {
        width: 33%;
        display: inline-block;
    }

    .floatCenter {
        width: 33%;
        display: inline-block;
    }

    .floatRight {
        width: 33%;
        display: inline-block;
    }

    .container-fluid {
        overflow: hidden;
    }

    /*td.text label {
        margin: 0;
        padding: 0;
        display: block;
        font-size: 100%;
        padding-top: .1em;
        padding-right: .25em;
        width: 6em;
        text-align: right;
        float: left;
    }

    td.text input,
    td.text textarea {
        margin: 0;
        padding: 0;
        display: block;
        font-size: 100%;
    }*/ 
    table {
        border-collapse: collapse;
        width: 100%;
    }

        table tr {
            border-bottom: 1px solid black;
        }

    td:empty {
        width: 10px;
    }

    th, td {
        text-align: left;
        padding: 0px;
    }

    th {
        border-bottom: 5px solid black;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
</style>


<script>
    function HideCoveredByOtherIns() {
        document.getElementById("empCoveredByOtherIns").style.display = "none";
    }

    function ShowCoveredByOtherIns() {
        document.getElementById("empCoveredByOtherIns").style.display = "block";
        //div.style.display = (div.style.display == 'none') ? 'block' : 'none';
    }

    function HideDepCoveredByOtherIns() {
        document.getElementById("depCoveredByOtherIns").style.display = "none";
    }

    function ShowDepCoveredByOtherIns() {
        document.getElementById("depCoveredByOtherIns").style.display = "block";
        //div.style.display = (div.style.display == 'none') ? 'block' : 'none';
    }

    document.addEventListener("DOMContentLoaded", function () {
        document.querySelector("#InsPremiumUpdateStepThree").addEventListener("click", function () {
            MECmonthlyEO = document.getElementById('MECmonthlyCostEmpOnly').value
            MECmonthlyEmpSp = document.getElementById('MECmonthlyCostEmpSp').value
            MECmonthlyEmpDep = document.getElementById('MECmonthlyCostEmpDep').value
            MECmonthlyEmpFam = document.getElementById('MECmonthlyCostEmpFam').value
            MECbiweeklyEO = document.getElementById('MECbiweeklyCostEmpOnly').value
            MECbiweeklyEmpSp = document.getElementById('MECbiweeklyCostEmpSp').value
            MECbiweeklyEmpDep = document.getElementById('MECbiweeklyCostEmpDep').value
            MECbiweeklyEmpFam = document.getElementById('MECbiweeklyCostEmpFam').value

            StndmonthlyEO = document.getElementById('StndmonthlyCostEmpOnly').value
            StndmonthlyEmpSp = document.getElementById('StndmonthlyCostEmpSp').value
            StndmonthlyEmpDep = document.getElementById('StndmonthlyCostEmpDep').value
            StndmonthlyEmpFam = document.getElementById('StndmonthlyCostEmpFam').value
            StndbiweeklyEO = document.getElementById('StndbiweeklyCostEmpOnly').value
            StndbiweeklyEmpSp = document.getElementById('StndbiweeklyCostEmpSp').value
            StndbiweeklyEmpDep = document.getElementById('StndbiweeklyCostEmpDep').value
            StndbiweeklyEmpFam = document.getElementById('StndbiweeklyCostEmpFam').value

            BuyUpmonthlyEO = document.getElementById('BuyUpmonthlyCostEmpOnly').value
            BuyUpmonthlyEmpSp = document.getElementById('BuyUpmonthlyCostEmpSp').value
            BuyUpmonthlyEmpDep = document.getElementById('BuyUpmonthlyCostEmpDep').value
            BuyUpmonthlyEmpFam = document.getElementById('BuyUpmonthlyCostEmpFam').value
            BuyUpbiweeklyEO = document.getElementById('BuyUpbiweeklyCostEmpOnly').value
            BuyUpbiweeklyEmpSp = document.getElementById('BuyUpbiweeklyCostEmpSp').value
            BuyUpbiweeklyEmpDep = document.getElementById('BuyUpbiweeklyCostEmpDep').value
            BuyUpbiweeklyEmpFam = document.getElementById('BuyUpbiweeklyCostEmpAndFam').value

            var data = {
                "MECmonthlyEO": MECmonthlyEO,
                "MECmonthlyEmpSp": MECmonthlyEmpSp,
                "MECmonthlyEmpDep": MECmonthlyEmpDep,
                "MECmonthlyEmpFam": MECmonthlyEmpFam,
                "MECbiweeklyEO": MECbiweeklyEO,
                "MECbiweeklyEmpSp": MECbiweeklyEmpSp,
                "MECbiweeklyEmpDep": MECbiweeklyEmpDep,
                "MECbiweeklyEmpFam": MECbiweeklyEmpFam,
                "MECMnthyearlyPremiumCost": MECMnthyearlyPremiumCost,
                "MECBiWkyearlyPremiumCost": MECBiWkyearlyPremiumCost,

                "StndmonthlyEO": StndmonthlyEO,
                "StndmonthlyEmpSp": StndmonthlyEmpSp,
                "StndmonthlyEmpDep": StndmonthlyEmpDep,
                "StndmonthlyEmpFam": StndmonthlyEmpFam,
                "StndbiweeklyEO": StndbiweeklyEO,
                "StndbiweeklyEmpSp": StndbiweeklyEmpSp,
                "StndbiweeklyEmpDep": StndbiweeklyEmpDep,
                "StndbiweeklyEmpFam": StndbiweeklyEmpFam,
                "StndMnthyearlyPremiumCost": StndMnthyearlyPremiumCost,
                "StndBiWkyearlyPremiumCost": StndBiWkyearlyPremiumCost,

                "BuyUpmonthlyEO": BuyUpmonthlyEO,
                "BuyUpmonthlyEmpSp": BuyUpmonthlyEmpSp,
                "BuyUpmonthlyEmpDep": BuyUpmonthlyEmpDep,
                "BuyUpmonthlyEmpFam": BuyUpmonthlyEmpFam,
                "BuyUpbiweeklyEO": BuyUpbiweeklyEO,
                "BuyUpbiweeklyEmpSp": BuyUpbiweeklyEmpSp,
                "BuyUpbiweeklyEmpDep": BuyUpbiweeklyEmpDep,
                "BuyUpbiweeklyEmpFam": BuyUpbiweeklyEmpFam,
                "BuyUpMnthyearlyPremiumCost": BuyUpMnthyearlyPremiumCost,
                "BuyUpBiWkyearlyPremiumCost": BuyUpBiWkyearlyPremiumCost,
            }

            var ret = postData('/Group_Health/GrpHealthInsPremiumUpdate', data)
                .then(data => StepThree(data))
                .catch(error => console.error(error))
        })
    })

        document.addEventListener("#InsSupplementUpdateStepFour").addEventListener("click", function () {
            EmpDentalCost = document.getElementById("DentalCostEmpOnly").value;
            EmpVisionCost = document.getElementById("VisionCostEmpOnly").value;
            EmpSpDentalCost = document.getElementById("DentalCostEmpSp").value;
            EmpSpVisionCost = document.getElementById("VisionCostEmpSp").value;
            EmpDepDentalCost = document.getElementById("DentalCostEmpDep").value;
            EmpDepVisionCost = document.getElementById("VisionCostEmpDep").value;
            EmpFamDentalCost = document.getElementById("DentalCostEmpFam").value;
            EmpFamVisionCost = document.getElementById("VisionCostEmpFam").value;



            var data = {
                "EmpDentalCost": EmpDentalCost,
                "EmpVisionCost": EmpVisionCost,
                "EmpSpDentalCost": EmpSpDentalCost,
                "EmpSpVisionCost": EmpSpVisionCost,
                "EmpDepDentalCost": EmpDepDentalCost,
                "EmpDepVisionCost": EmpDepVisionCost,
                "EmpFamDentalCost": EmpFamDentalCost,
                "EmpFamVisionCost": EmpFamVisionCost,

            }

            var ret = postData('/Group_Health/GrpHealthInsSupplementUpdate', data)
                .then(data => StepFour(data))
                .catch(error => console.error(error))
        })

    function StepThree(ins) {
        document.querySelector("#ThirdStep").nextElementSibling.style.display = "block";
        document.querySelector("#MECmonthlyEO").value = ins.MECmonthlyEO;
        document.querySelector("#MECmonthlyEmpSp").value = ins.MECmonthlyEmpSp;
        document.querySelector("#MECmonthlyEmpDep").value = ins.MECmonthlyEmpDep;
        document.querySelector("#MECmonthlyEmpFam").value = ins.MECmonthlyEmpFam;
        document.querySelector("#MECbiweeklyEO").value = ins.MECbiweeklyEO;
        document.querySelector("#MECbiweeklyEmpSp").value = ins.MECbiweeklyEmpSp;
        document.querySelector("#MECbiweeklyEmpDep").value = ins.MECbiweeklyEmpDep;
        document.querySelector("#MECbiweeklyEmpFam").value = ins.MECbiweeklyEmpFam;
        document.querySelector("#StndmonthlyEO").value = ins.StndmonthlyEO;
        document.querySelector("#StndmonthlyEmpSp").value = ins.StndmonthlyEmpSp;
        document.querySelector("#StndmonthlyEmpDep").value = ins.StndmonthlyEmpDep;
        document.querySelector("#StndmonthlyEmpFam").value = ins.StndmonthlyEmpFam;
        document.querySelector("#StndbiweeklyEO").value = ins.StndbiweeklyEO;
        document.querySelector("#StndbiweeklyEmpSp").value = ins.StndbiweeklyEmpSp;
        document.querySelector("#StndbiweeklyEmpDep").value = ins.StndbiweeklyEmpDep;
        document.querySelector("#StndbiweeklyEmpFam").value = ins.StndbiweeklyEmpFam;
        document.querySelector("#BuyUpmonthlyEO").value = ins.BuyUpmonthlyEO;
        document.querySelector("#BuyUpmonthlyEmpSp").value = ins.BuyUpmonthlyEmpSp;
        document.querySelector("#BuyUpmonthlyEmpDep").value = ins.BuyUpmonthlyEmpDep;
        document.querySelector("#BuyUpmonthlyEmpFam").value = ins.BuyUpmonthlyEmpFam;
        document.querySelector("#BuyUpbiweeklyEO").value = ins.BuyUpbiweeklyEO;
        document.querySelector("#BuyUpbiweeklyEmpSp").value = ins.BuyUpbiweeklyEmpSp;
        document.querySelector("#BuyUpbiweeklyEmpDep").value = ins.BuyUpbiweeklyEmpDep;
        document.querySelector("#BuyUpbiweeklyEmpFam").value = ins.BuyUpbiweeklyEmpFam;
        document.querySelector("#MECMnthyearlyPremiumCost").value = ins.MECMnthyearlyPremiumCost;
        document.querySelector("#MECBiWkyearlyPremiumCost").value = ins.MECBiWkyearlyPremiumCost;
        document.querySelector("#StndMnthyearlyPremiumCost").value = ins.StndMnthyearlyPremiumCost;
        document.querySelector("#StndBiWkyearlyPremiumCost").value = ins.StndBiWkyearlyPremiumCost;
        document.querySelector("#BuyUpMnthyearlyPremiumCost").value = ins.BuyUpMnthyearlyPremiumCost;
        document.querySelector("#BuyUpBiWkyearlyPremiumCost").value = ins.BuyUpBiWkyearlyPremiumCost;
    }

    function InsStepFour(ins) {
        document.querySelector("#ThirdStep").nextElementSibling.style.display = "none";
        document.querySelector("#FourthStep").nextElementSibling.style.display = "block";
        document.querySelector("#DentalCostEmpOnly").value = ins.EmpDentalCost;
        document.querySelector("#VisionCostEmpOnly").value = ins.EmpVisionCost;
        document.querySelector("#DentalCostEmpSp").value = EmpSpDentalCost;
        document.querySelector("#VisionCostEmpSp").value = EmpSpVisionCost;
        document.querySelector("#DentalCostEmpDep").value = EmpDepDentalCost;
        document.querySelector("#VisionCostEmpDep").value = EmpDepVisionCost;
        document.querySelector("#DentalCostEmpFam").value = EmpFamDentalCost;
        document.querySelector("#VisionCostEmpFam").value = EmpFamVisionCost;


    }

    function postData(url, data) {
        //Default options are marked with *
        console.log(data);
        console.log(JSON.stringify(data));
        return fetch(url, {
            body: JSON.stringify(data), //must match 'Content-Type' header
            cache: 'no-cache', //*default, no-cache, reload, force-cache, only-if-cached
            credentials: 'same-origin', //include, same-origin, *omit
            headers: {
                'Accept': 'application/json',
                'user-agent': 'Mozilla/4.0 MDN Example',
                'content-type': 'application/json'
            },
            method: 'Post', //*GET, POST, PUT, DELETE, etc...
            mode: 'same-origin', //no-cors, cors, *same-origin
            redirect: 'follow', //manual, *follow, error
            referrer: 'no-referrer', //*client, no-referrer
        }).then(res => res.json())
            .then(response => console.log('Success:', JSON.stringify(response)))
            .catch(error => console.error('Error:', error));
        //.then(Response => {
        //    console.log(Response);
        //    Response.json();
        //}) //parses response to JSON
    }

</script>

