
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateJobApplicant</title>
</head>
<body>
    <div>
        <h4>Create Job Application</h4>
    </div>
</body>
</html>
