
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
    <input type="hidden" id="JobApplicant_id" class="form-control" name="JobApplicant_id" value="@ViewBag.JobApplicant_id" />
    <input type="hidden" id="Employee_id" class="form-control" name="Employee_id" />
    <div class="form-horizontal">
        <div>
            <h2 class="text-center">
                Application for Employment
            </h2>
            <div id="labelPosStartDt">
                <div>
                    <label>Position:</label>
                    <input type="text" class="form-control" placeholder="Position Applying for:" id="PositionApplyingFor" name="PositionApplyingFor" value="" />
                </div>
                <p></p>
                <div>
                    <label>Start Date:</label>
                    <input type="date" class="form-control" id="AvailableStartDate" name="AvailableStartDate" value="" />
                </div>
            </div>
            <hr />
            <div class="text-center">
                <p>
                    <b>
                        WE ARE AN EQUAL EMPLOYMENT OPPORTUNITY EMPLOYER AND DO NOT DISCRIMINATE ON THE BASIS<br />
                        OF RACE, COLOR, RELIGION, SEX, NATIONAL ORIGIN, AGE, OR HANDICAP
                    </b>
                </p>
            </div>
        </div>
        <hr />
        <form>
            <fieldset id="applicantStatement">
                <h3 class="text-center"><label>Applicant's Statment</label></h3>
                <p class="text-justify">
                    I understand that this application will be given consideration, but it is not a promise of employment.<br />
                    <br />
                    I understand that if hired, my employment will be for no definite period, regardless of the period of payment of my wages<br />
                    I further understand that I have the right to terminate my employment at any time with or without notice, and the Company has the same right.<br />
                    <br />
                    I understand that the Company reserves the right to require me to submit to a medical examination, including a drug/alcohol test, to the <br />
                    extend permitted by law, after a conditional offer of employment and at any time during my employment if I am hired.<br />
                    <br />
                    I understand that the Company reserves the right to require me to submit to a polygraph examination, to the extent permitted by law,<br />
                    prior to employment and at any time during my employment if I am hired.<br />
                    <br />
                    I understand that the Company may investigate my driving record, credit record, and my criminal record, to the extend permitted by law.<br />
                    I further understand that the Company may contact my previous employers, and I authorize and release those employers to disclose<br />
                    to the Company all records pertinent to my employment with them.<br />
                    <br />
                    I hereby state that all the information that I provide on the this application and in any interview is true and accurate.<br />
                    I understand that if I am employed and any such information is later found to be false in any respect, I may be dismissed.<br />
                    <br />
                </p>
            </fieldset>
            <div>
                <div>
                    <label>
                        Applicant's Signature:
                    </label>
                    <input type="text" class="form-control" id="ApplicantSignature1" name="ApplicantSignature" value="" />
                </div>
                <p></p>
                <div>
                    <label>
                        Date:
                    </label>
                    <input type="text" class="form-control" id="ApplicantSignatureDate1" name="ApplicantSignatureDate" value="" />
                </div>
            </div>
        </form>
        <hr />
        <h4><label>Personal Information:</label></h4>
        <div id="divPersonalInfo">
            <div>
                <input type="text" class="form-control" placeholder="First Name" id="FirstName" name="FirstName" value="" />
            </div>
            <p></p>
            <div>
                <input type="text" class="form-control" placeholder="Last Name" id="LastName" name="LastName" value="" />
            </div>
            <p></p>
            <div>
                <div>
                    <label>Present Address:</label>
                    <input type="text" id="PresentAddress" class="form-control" placeholder="Street" name="ApplicantPresentAddress" value="" />
                    <input type="text" id="PresentPObox" class="form-control" placeholder="PO Box" name="ApplicantPresentPObox" value="" />
                    <input type="text" id="PresentCity" class="form-control" placeholder="City" name="ApplicantCity" value="" />
                    <input type="text" id="PresentState" class="form-control" placeholder="State" name="ApplicantState" value="" />
                    <input type="text" id="PresentZipCode" class="form-control" placeholder="Zip Code" name="ApplicantZipCode" value="" />
                </div>
                <p></p>
                <div><label>How long have you resided there?</label></div>
                <input type="number" class="form-control" name="YearsResidedAtPresentAddr" value="">
            </div>
            <p></p>
            <div>
                <div>
                    <label>Previous Address:</label>
                    <input type="text" id="PreviousAddress" class="form-control" placeholder="Street" name="ApplicantPreviousAddress" value="" />
                    <input type="text" id="PreviousPObox" class="form-control" placeholder="PO Box" name="ApplicantPreviousPObox" value="" />
                    <input type="text" id="PreviousCity" class="form-control" placeholder="City" name="ApplicantCityTwo" value="" />
                    <input type="text" id="PreviousState" class="form-control" placeholder="State" name="ApplicantStateTwo" value="" />
                    <input type="text" id="PreviousZipCode" class="form-control" placeholder="Zip Code" name="ApplicantZipCodeTwo" value="" />
                </div>
                <p></p>
                <div><label>How long have you resided there?</label></div>
                <input type="number" class="form-control" name="YearsResidedAtPreviousAddr" value="">
            </div>
            <p></p>
            <div class="form-inline">
                <label>Are you over 18 or over?</label>
                <select id="applicantAge" name="OverEighteen" class="form-control">
                    <option value=""></option>
                    <option value="Yes" @*@((ViewBag.MaritalStatus) == "MarriedwDep" ? "selected": "")*@>Yes</option>
                    <option value="No" @*@((ViewBag.MaritalStatus) == "Married"     ? "selected": "")*@>No</option>
                </select>
            </div>
            <p></p>
            <div class="form-inline">
                <label>Have you ever worked for this company before?</label>
                <select id="appPrvEmploymentAtWTS" class="form-control" name="PreviouslyEmployedAtWatson">
                    <option value=""></option>
                    <option value="Yes" id="YesWorkedforWTSBefore" @*@((ViewBag.MaritalStatus) == "MarriedwDep" ? "selected": "")*@>Yes</option>
                    <option value="No" id="NotWorkedforWTSBefore" @*@((ViewBag.MaritalStatus) == "Married"     ? "selected": "")*@>No</option>
                </select>
            </div>
            <p></p>
            <div id="divFromToEmploymentDates">
                <label>If yes, give dates</label>
                <input type="date" class="form-control" name="EmploymentDatesAtWatsonFrom" />
                <label>to</label>
                <input type="date" class="form-control" name="EmploymentDatesAtWatsonTo" />
            </div>
            <p></p>
            <div>
                <label>Phone Number</label>
                <input type="text" class="form-control" placeholder="Phone Number" id="PhoneNumber" name="PhoneNumber" value="" />
            </div>
            <p></p>
            <div class="form-inline">
                <label>Are you a Veteran?</label>
                <select id="VeteranStatus" class="form-control"name="Veteran">
                    <option value=""></option>
                    <option value="Yes" id="yesVeteran" @*@((ViewBag.MaritalStatus) == "MarriedwDep" ? "selected": "")*@>Yes</option>
                    <option value="No" id="notVeteran" @*@((ViewBag.MaritalStatus) == "Married"     ? "selected": "")*@>No</option>
                </select>
                <p></p>
                <input type="text" id="VeteranMOS" class="form-control" placeholder="MOS/Specialized Training " name="MOSorSpecializedTraining" value="" />
            </div>
            <p></p>
            <div class="form-inline">
                <label>Do you have a valid drivers license?</label>
                <select id="DriversLicense" class="form-control" name="DriversLicense">
                    <option value=""></option>
                    <option value="Yes" id="yesValidLicense" @*@((ViewBag.MaritalStatus) == "MarriedwDep" ? "selected": "")*@>Yes</option>
                    <option value="No" id="noValidLicense" @*@((ViewBag.MaritalStatus) == "Married"     ? "selected": "")*@>No</option>
                </select>
            </div>
            <p></p>
            <div id="divDriversLicenseInfo">
                <div>
                    <input type="text" class="form-control" placeholder="State" id="LicenseState" name="DriversLicenseState" value="" />
                </div>
                <p></p>
                <div>
                    <input type="text" class="form-control" placeholder="License Number" id="LicenseNumber" name="DriversLicenseNumber" value="" />
                </div>
                <p></p>
                <div>
                    <label>Expiration Date</label>
                    <input type="date" class="form-control" id="ExpirationDate" name="DriversLicenseExpirationDate" value="" />
                </div>
            </div>
        </div>
        <hr />
        <h4><label>Education:</label></h4>
        <div id="divEducation" class="control-label">
            <table class="table table-condensed" id="educationTable">
                <thead>
                    <tr>
                        <th></th>
                        <th>Institution</th>
                        <th>Years Completed</th>
                        <th>Field of Study</th>
                        <th>Graduate or Degree</th>
                    </tr>
                </thead>
                <tr>
                    <td>Elementary</td>
                    <td>
                        <div>
                            <input type="text" class="form-control" name="ElementaryInstitution" value="" />
                        </div>
                    </td>
                    <td>
                        <div>
                            <input type="text" class="form-control" name="YearsCompletedElementary" value="" />
                        </div>
                    </td>
                    <td>
                        <div>
                            <input type="text" class="form-control" name="FieldOfStudyElementary" value="" />
                        </div>
                    </td>
                    <td>
                        <div>
                            <input type="text" class="form-control" name="GraduateElementary" value="" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>High School</td>
                    <td>
                        <div>
                            <input type="text" class="form-control" name="HighSchoolInstitution" value="" />
                        </div>
                    </td>
                    <td>
                        <div>
                            <input type="text" class="form-control" name="YearsCompletedHighSchool" value="" />
                        </div>
                    </td>
                    <td>
                        <div>
                            <input type="text" class="form-control" name="FieldOfStudyHighSchool" value="" />
                        </div>
                    </td>
                    <td>
                        <div>
                            <input type="text" class="form-control" name="GraduateHighSchool" value="" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>College</td>
                    <td>
                        <div>
                            <input type="text" class="form-control" name="CollegeInstitution" value="" />
                        </div>
                    </td>
                    <td>
                        <div>
                            <input type="text" class="form-control" name="YearsCompletedCollege" value="" />
                        </div>
                    </td>
                    <td>
                        <div>
                            <input type="text" class="form-control" name="FieldOfStudyCollege" value="" />
                        </div>
                    </td>
                    <td>
                        <div>
                            <input type="text" class="form-control" name="GraduateOrDegreeCollege" value="" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Technical School</td>
                    <td>
                        <div>
                            <input type="text" class="form-control" name="TechnicalInstitution" value="" />
                        </div>
                    </td>
                    <td>
                        <div>
                            <input type="text" class="form-control" name="YearsCompletedTechnical" value="" />
                        </div>
                    </td>
                    <td>
                        <div>
                            <input type="text" class="form-control" name="FieldOfStudyTechnical" value="" />
                        </div>
                    </td>
                    <td>
                        <div>
                            <input type="text" class="form-control" name="GraduateOrDegreeTechnical" value="" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Additional
                    </td>
                    <td>
                        <div>
                            <input type="text" class="form-control" name="AdditionalInstitution" value="" />
                        </div>
                    </td>
                    <td>
                        <div>
                            <input type="text" class="form-control" name="YearsCompletedAtAdditional" value="" />
                        </div>
                    </td>
                    <td>
                        <div>
                            <input type="text" class="form-control" name="FieldOfStudyAtAdditional" value="" />
                        </div>
                    </td>
                    <td>
                        <div>
                            <input type="text" class="form-control" name="GraduateOrDegreeAtAdditional" value="" />
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <hr />

        <div class="form-group col-md-12">
            <div id="PrevEmploymentInfo1" class="floatLeft">
                <table class="table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th colspan="2">Record of Pervious Employment</th>
                        </tr>
                    </thead>
                    <tr>
                        <td class="text">
                            <input type="text" class="form-control" id="PresentOrLastEmployer1" placeholder="Present or Last Employer" name="PresentOrCurrentEmployer" value="" />
                        </td>
                        <td class="text">
                            <input type="text" class="form-control" id="EmployerPhoneNumber1" placeholder="Employer Phone Number" name="EmployerPhoneNumber" value="" />
                        </td>
                    </tr>
                    <tr>
                        <td class="text">
                            <input type="text" class="form-control" id="EmployerAddress1" placeholder="Street" name="EmployerAddress" value="" />
                        </td>
                        <td class="text">
                            <input type="text" class="form-control" id="EmployerCity1" placeholder="City" name="EmployerCity" value="" />
                        </td>
                    </tr>
                    <tr>
                        <td class="text">
                            <input type="text" class="form-control" id="EmployerState1" placeholder="State" name="EmployerState" value="" />
                        </td>
                        <td class="text">
                            <input type="text" class="form-control" id="EmployerZipCode1" placeholder="Zip Code" name="EmployerZipCode" value="" />
                        </td>
                    </tr>
                    <tr>
                        <td class="text">
                            <input class="form-control" placeholder="Employment Date From:" disabled />
                        </td>
                        <td class="text">
                            <input class="form-control" placeholder="Employment Date To:" disabled />
                        </td>
                    </tr>
                    <tr>
                        <td class="text">
                            <input type="date" class="form-control" id="EmployedFromDate" name="EmployedFromDate" />
                        </td>
                        <td class="text">
                            <input type="date" class="form-control" id="EmployedToDate" name="EmployedToDate" />
                        </td>
                    </tr>
                    <tr>
                        <td class="text">
                            <input type="text" class="form-control" id="TitleOrPosition1" placeholder="Title or Position" name="TitleOfPositionHeld" value="" />
                        </td>
                        <td class="text">
                            <input type="text" class="form-control" id="WorkedPerformed1" placeholder="Work Performed" name="TypeOfWorkedPerformed" value="" />
                        </td>
                    </tr>
                    <tr>
                        <td class="text">
                            <input type="text" class="form-control" id="Supervisor1" placeholder="Supervisor(s)" name="NameOfSupervisor" value="" />
                        </td>
                        <td class="text">
                            <input type="text" class="form-control" id="" name="" value="" disabled />
                        </td>
                    </tr>
                </table>
            </div>
            <div id="PrevEmploymentInfo2" class="floatCenter">
                <table class="table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th colspan="2">Record of Pervious Employment</th>
                        </tr>
                    </thead>
                    <tr>
                        <td class="text">
                            <input type="text" class="form-control" id="PresentOrLastEmployer2" placeholder="Present or Last Employer" name="PresentOrLastEmployerTwo" value="" />
                        </td>
                        <td class="text">
                            <input type="text" class="form-control" id="EmployerPhoneNumber2" placeholder="Employer Phone Number" name="EmployerPhoneNumberTwo" value="" />
                        </td>
                    </tr>
                    <tr>
                        <td class="text">
                            <input type="text" class="form-control" id="EmployerAddress2" placeholder="Street" name="EmployerAddressTwo" value="" />
                        </td>
                        <td class="text">
                            <input type="text" class="form-control" id="EmployerCity2" placeholder="City" name="EmployerCityTwo" value="" />
                        </td>
                    </tr>
                    <tr>
                        <td class="text">
                            <input type="text" class="form-control" id="EmployerState2" placeholder="State" name="EmployerStateTwo" value="" />
                        </td>
                        <td class="text">
                            <input type="text" class="form-control" id="EmployerZipCode2" placeholder="Zip Code" name="EmployerZipCodeTwo" value="" />
                        </td>
                    </tr>
                    <tr>
                        <td class="text">
                            <input class="form-control" placeholder="Employment Date From:" name="EmployedFromDateTwo" disabled />
                        </td>
                        <td class="text">
                            <input class="form-control" placeholder="Employment Date To:" name="" disabled />
                        </td>
                    </tr>
                    <tr>
                        <td class="text">
                            <input type="date" class="form-control" id="EmploymentDateFrom2" name="EmployedFromDateTwo" />
                        </td>
                        <td class="text">
                            <input type="date" class="form-control" id="EmploymentDateTo2" name="EmployedToDateTwo" />
                        </td>
                    </tr>
                    <tr>
                        <td class="text">
                            <input type="text" class="form-control" id="TitleOrPosition2" placeholder="Title or Position" name="TitleOfPositionHeldTwo" value="" />
                        </td>
                        <td class="text">
                            <input type="text" class="form-control" id="WorkedPerformed2" placeholder="Work Performed" name="TypeOfWorkedPerformedTwo" value="" />
                        </td>
                    </tr>
                    <tr>
                        <td class="text">
                            <input type="text" class="form-control" id="Supervisor2" placeholder="Supervisor(s)" name="NameOfSupervisorTwo" value="" />
                        </td>
                        <td class="text">
                            <input type="text" class="form-control" id="" name="" value="" disabled />
                        </td>
                    </tr>
                </table>
            </div>
            <div id="PrevEmploymentInfo3" class="floatRight">
                <table class="table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th colspan="2">Record of Pervious Employment</th>
                        </tr>
                    </thead>
                    <tr>
                        <td class="text">
                            <input type="text" class="form-control" id="PresentOrLastEmployer3" placeholder="Present or Last Employer" name="PresentOrLastEmployerThree" value="" />
                        </td>
                        <td class="text">
                            <input type="text" class="form-control" id="EmployerPhoneNumber3" placeholder="Employer Phone Number" name="EmployerPhoneNumberThree" value="" />
                        </td>
                    </tr>
                    <tr>
                        <td class="text">
                            <input type="text" class="form-control" id="EmployerAddress3" placeholder="Street" name="EmployerAddressThree" value="" />
                        </td>
                        <td class="text">
                            <input type="text" class="form-control" id="EmployerCity3" placeholder="City" name="EmployerCityThree" value="" />
                        </td>
                    </tr>
                    <tr>
                        <td class="text">
                            <input type="text" class="form-control" id="EmployerState3" placeholder="State" name="EmployerStateThree" value="" />
                        </td>
                        <td class="text">
                            <input type="text" class="form-control" id="EmployerZipCode3" placeholder="Zip Code" name="EmployerZipCodeThree" value="" />
                        </td>
                    </tr>
                    <tr>
                        <td class="text">
                            <input class="form-control" placeholder="Employment Date From:" disabled />
                        </td>
                        <td class="text">
                            <input class="form-control" placeholder="Employment Date To:" disabled />
                        </td>
                    </tr>
                    <tr>
                        <td class="text">
                            <input type="date" class="form-control" id="EmploymentDateFrom3" name="EmployedFromDateThree" />
                        </td>
                        <td class="text">
                            <input type="date" class="form-control" id="EmploymentDateTo3" name="EmployedToDateThree" />
                        </td>
                    </tr>
                    <tr>
                        <td class="text">
                            <input type="text" class="form-control" id="TitleOrPosition3" placeholder="Title or Position" name="TitleOfPositionHeldThree" value="" />
                        </td>
                        <td class="text">
                            <input type="text" class="form-control" id="WorkedPerformed3" placeholder="Work Performed" name="TypeOfWorkedPerformedThree" value="" />
                        </td>
                    </tr>
                    <tr>
                        <td class="text">
                            <input type="text" class="form-control" id="Supervisor3" placeholder="Supervisor(s)" name="NameOfSupervisorThree" value="" />
                        </td>
                        <td class="text">
                            <input type="text" class="form-control" id="" name="" value="" disabled />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <hr />
        <div>
            <table class="table-bordered">
                <tr>
                    <td>
                        <div>
                            <label>Have you ever been terminated or asked to resign?</label>
                            <select id="TerminationOrResigned" class="" name="TerminatedOrResiged">
                                <option value=""></option>
                                <option value="Yes">Yes</option>
                                <option value="No" @*@((ViewBag.MaritalStatus) == "Married"     ? "selected": "")*@>No</option>
                            </select>
                            <p></p>
                            <textarea class="form-control" name="ReasonForTerminationOrResignation">If yes, please explain circumstances:</textarea>
                        </div>
                    </td>
                </tr>
            </table>
            <p></p>
            <table class="table-bordered">
                <tr>
                    <td>
                        <h4><label>References:</label></h4>
                        <div class="form-group col-md-12">
                            <div id="ReferenceInfo1" class="floatLeft">
                                <table class="table-bordered">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th colspan="2">Reference</th>
                                        </tr>
                                    </thead>
                                    <tr>
                                        <td class="text">
                                            <input type="text" class="form-control" id="ReferenceFirstName1" placeholder="First Name" name="ReferenceFirstName" value="" />
                                        </td>
                                        <td class="text">
                                            <input type="text" class="form-control" id="ReferenceLastName1" placeholder="Last Name" name="ReferenceLastName" value="" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text">
                                            <input type="text" class="form-control" id="ReferenceAddress1" placeholder="Street" name="ReferenceAddress" value="" />
                                        </td>
                                        <td class="text">
                                            <input type="text" class="form-control" id="ReferenceCity1" placeholder="City" name="ReferenceCity" value="" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text">
                                            <input type="text" class="form-control" id="ReferenceState1" placeholder="State" name="ReferenceState" value="" />
                                        </td>
                                        <td class="text">
                                            <input type="text" class="form-control" id="ReferenceZipCode1" placeholder="Zip Code" name="ReferenceZipCode" value="" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text">
                                            <input type="text" class="form-control" id="ReferenceOccupation1" placeholder="Reference Occupation" name="ReferenceOccupation" value="" />
                                        </td>
                                        <td class="text">
                                            <input type="text" class="form-control" id="YearsKnownReference1" placeholder="Years Known" name="YearsKnownReference" value="" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text">
                                            <input type="text" class="form-control" id="ReferencePhoneNumber1" placeholder="Phone Number" name="ReferencePhoneNumber" value="" />
                                        </td>
                                        <td class="text">
                                            <input type="text" class="form-control" id="" placeholder="" name="" value="" disabled />
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div id="ReferenceInfo2" class="floatCenter">
                                <table class="table-bordered">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th colspan="2">Reference</th>
                                        </tr>
                                    </thead>
                                    <tr>
                                        <td class="text">
                                            <input type="text" class="form-control" id="ReferenceFirstName2" placeholder="First Name" name="ReferenceFirstNameTwo" value="" />
                                        </td>
                                        <td class="text">
                                            <input type="text" class="form-control" id="ReferenceLastName2" placeholder="Last Name" name="ReferenceLastNameTwo" value="" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text">
                                            <input type="text" class="form-control" id="ReferenceAddress2" placeholder="Street" name="ReferenceAddressTwo" value="" />
                                        </td>
                                        <td class="text">
                                            <input type="text" class="form-control" id="ReferenceCity2" placeholder="City" name="ReferenceCityTwo" value="" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text">
                                            <input type="text" class="form-control" id="ReferenceState2" placeholder="State" name="ReferenceStateTwo" value="" />
                                        </td>
                                        <td class="text">
                                            <input type="text" class="form-control" id="ReferenceZipCode2" placeholder="Zip Code" name="ReferenceZipCodeTwo" value="" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text">
                                            <input type="text" class="form-control" id="ReferenceOccupation2" placeholder="Reference Occupation" name="ReferenceOccupationTwo" value="" />
                                        </td>
                                        <td class="text">
                                            <input type="text" class="form-control" id="YearsKnownReference2" placeholder="Years Known" name="YearsKnownReferenceTwo" value="" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text">
                                            <input type="text" class="form-control" id="ReferencePhoneNumber2" placeholder="Phone Number" name="ReferencePhoneNumberTwo" value="" />
                                        </td>
                                        <td class="text">
                                            <input type="text" class="form-control" id="" placeholder="" name="" value="" disabled />
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div id="ReferenceInfo3" class="floatRight">
                                <table class="table-bordered">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th colspan="2">Reference</th>
                                        </tr>
                                    </thead>
                                    <tr>
                                        <td class="text">
                                            <input type="text" class="form-control" id="ReferenceFirstName3" placeholder="First Name" name="ReferenceFirstNameThree" value="" />
                                        </td>
                                        <td class="text">
                                            <input type="text" class="form-control" id="ReferenceLastName3" placeholder="Last Name" name="ReferenceLastNameThree" value="" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text">
                                            <input type="text" class="form-control" id="ReferenceAddress3" placeholder="Street" name="ReferenceAddressThree" value="" />
                                        </td>
                                        <td class="text">
                                            <input type="text" class="form-control" id="ReferenceCity3" placeholder="City" name="ReferenceCityThree" value="" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text">
                                            <input type="text" class="form-control" id="ReferenceState3" placeholder="State" name="ReferenceStateThree" value="" />
                                        </td>
                                        <td class="text">
                                            <input type="text" class="form-control" id="ReferenceZipCode3" placeholder="Zip Code" name="ReferenceZipCodeThree" value="" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text">
                                            <input type="text" class="form-control" id="ReferenceOccupation3" placeholder="Reference Occupation" name="ReferenceOccupationThree" value="" />
                                        </td>
                                        <td class="text">
                                            <input type="text" class="form-control" id="YearsKnownReference3" placeholder="Years Known" name="YearsKnownReferenceThree" value="" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text">
                                            <input type="text" class="form-control" id="ReferencePhoneNumber3" placeholder="Phone Number" name="ReferencePhoneNumberThree" value="" />
                                        </td>
                                        <td class="text">
                                            <input type="text" class="form-control" id="" placeholder="" name="" value="" disabled />
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            <hr />
            <h4><label>General Information:</label></h4>
            <div id="divGeneralInfo">
                <table id="GeneralInfoTable" class="table table-condensed">
                    <thead>
                        <tr>
                            <th colspan="3"><label>Please indicate actual experience in any of the following positions:</label></th>
                        </tr>
                    </thead>
                    <tr>
                        <td>
                            <div>
                                <label><input type="checkbox" class="checkbox-inline" name="Experience" value="Service Writer" />Service Writer</label>
                            </div>
                        </td>
                        <td>
                            <div>
                                <label><input type="checkbox" class="checkbox-inline" name="Experience" value="Painter" />Painter</label>
                            </div>
                        </td>
                        <td>
                            <div>
                                <label><input type="checkbox" class="checkbox-inline" name="Experience" value="Accounts Receivable" />Accounts Receivable</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>
                                <label><input type="checkbox" class="checkbox-inline" name="Experience" value="Machinist" />Machinist</label>
                            </div>
                        </td>
                        <td>
                            <div>
                                <label><input type="checkbox" class="checkbox-inline" name="Experience" value="Porter" />Porter</label>
                            </div>
                        </td>
                        <td>
                            <div>
                                <label><input type="checkbox" class="checkbox-inline" name="Experience" value="Accounts Payable" />Accounts Payable</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>
                                <label><input type="checkbox" class="checkbox-inline" name="Experience" value="Mechanic" />Mechanic</label>
                            </div>
                        </td>
                        <td>
                            <div>
                                <label><input type="checkbox" class="checkbox-inline" name="Experience" value="Janitor" />Janitor</label>
                            </div>
                        </td>
                        <td>
                            <div>
                                <label><input type="checkbox" class="checkbox-inline" name="Experience" value="Clerk" />Clerk</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>
                                <label><input type="checkbox" class="checkbox-inline" name="Experience" value="Mechanic Helper" />Mechanic Helper</label>
                            </div>
                        </td>
                        <td>
                            <div>
                                <label><input type="checkbox" class="checkbox-inline" name="Experience" value="Parts Clerk" />Parts Clerk</label>
                            </div>
                        </td>
                        <td>
                            <div>
                                <label><input type="checkbox" class="checkbox-inline" name="Experience" value="Receptionist" />Receptionist</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>
                                <label><input type="checkbox" class="checkbox-inline" name="Experience" value="Welder" />Welder</label>
                            </div>
                        </td>
                        <td>
                            <div>
                                <label><input type="checkbox" class="checkbox-inline" name="Experience" value="Parts Delivery" />Parts Delivery</label>
                            </div>
                        </td>
                        <td>
                            <div>
                                <label><input type="checkbox" class="checkbox-inline" name="Experience" value="Secretary" />Secretary</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>
                                <label><input type="checkbox" class="checkbox-inline" name="Experience" value="Welder Helper" />Welder Helper</label>
                            </div>
                        </td>
                        <td>
                            <div>
                                <label><input type="checkbox" class="checkbox-inline" name="Experience" value="Truck Sales" />Truck Sales</label>
                            </div>
                        </td>
                        <td>
                            <div>
                                <label><input type="checkbox" class="checkbox-inline" name="Experience" value="Other" />Other</label>
                            </div>
                        </td>
                    </tr>
                </table>
                <hr />
                <form id="divCertiExperience">
                    <fieldset>
                        <label>Other Experience</label>
                        <div id="divOtherExperience">
                            <textarea class="form-control" name="ListOtherExperience">Please list any other experience:</textarea>
                        </div>
                        <p></p>
                        <label>Certification</label>
                        <div id="divCertificates">
                            <textarea class="form-control" name="Certification">Please list any Certifications you may have:</textarea>
                        </div>
                    </fieldset>
                </form>
            </div>
            <hr />
            <div class="text-center">
                <p>
                    <b>I CERTIFY THAT ALL OF THE INFORMATION THAT I HAVE PROVIDED ON THIS APPLICATION IS TRUE AND ACCURATE</b>
                </p>
            </div>
            <hr />
            <div>
                <div>
                    <label>
                        Applicant's Signature:
                    </label>
                    <input type="text" class="form-control" id="ApplicantSignature2" name="ApplicantSignatureTwo" value="" />
                </div>
                <p></p>
                <div>
                    <label>
                        Date:
                    </label>
                    <input type="text" class="form-control" id="ApplicantSignatureDate2" name="ApplicantSignatureDateTwo" value="" />
                    <hr />
                </div>
            </div>
            <hr />
            <div class="form-group">
                <div class="col-md-offset-11">
                    <button type="submit" id="JobApplicantUpdateStepThree" class="btn" @*onclick="return function()"*@>Submit</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>


<style>
    #labelPosStartDt{
        display: flex;
        justify-content: space-between;
    }

    .content {
        padding: 0 18px;
        display: none;
        overflow: hidden;
        background-color: #f1f1f1;
    }

    .btn {
        background-color: #333;
        color: white;
    }

    .button {
        text-align: right;
    }

    a {
        text-decoration: none;
        display: inline-block;
        padding: 8px 16px;
    }

        a:hover {
            background-color: #ddd;
            color: black;
        }

    #label {
        font-weight: bold;
        text-align: left;
        font-size: 100%;
    }

    #signature {
        width: 100%;
        border: 0px;
        border-bottom: 1px solid black;
        height: 20px;
    }

    #signatureDate {
        width: 15%;
        border: 0px;
        border-bottom: 1px solid black;
        height: 20px;
    }

    .aside {
        float: right;
    }

    .floatLeft {
        width: 33%;
        display: inline-block;
    }

    .floatCenter {
        width: 33%;
        display: inline-block;
    }

    .floatRight {
        width: 33%;
        display: inline-block;
    }

    .container-fluid {
        overflow: hidden;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    td:empty {
        width: 10px;
    }

    th, td {
        text-align: left;
        padding: 0px;
    }

    th {
        border-bottom: 5px solid black;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
</style>




