
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div> 
        <h3>Career Center</h3>
        <button>Careers</button>
        <button>View Open Positions</button>
    </div>
</body>
</html>
