
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div> 
        <h3>Career Center</h3>
        <button onclick="return Career()" class="btn">Careers</button>
        <button onclick="return ListJobs()" class="btn">View Open Positions</button>
    </div>
</body>
</html>

<script>
    function ListJobs() {
        window.location.href = "/CareerCenter/ListJobs";
    }
</script>
