

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>Open Position</title>
</head>
<body>
    <h4>Open Positions</h4>
    <input type="hidden" id="Employee_id" class="form-control" name="JobApplicant_id" value="@ViewBag.JobApplicant_id" />
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Job ID</th>
                <th>Title</th>
                <th>City</th>
                <th>State</th>
                <th>Date Posted</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    
                </td>
                <td>
                    <a href="#" onclick="return JobDescription()">Watson Truck- Unit Shop- Shop Foreman</a>
                </td>
                <td>
                    @*<text type="text" id="City" class="form-control" name="City" value="" readonly />*@
                </td>
                <td>
                    @*<text type="text" id="State" class="form-control" name="State" value="" readonly />*@
                </td>
                <td>
                    @*<text type="text" id="DatePosted" class="form-control" name="DatePosted" value="" readonly />*@
                </td>
                <td>
                    @Html.ActionLink("Apply", "JobDescription", "CareerCenter", new { }, null)
                </td>
            </tr>
        </tbody>
    </table>
    @*<div class="form-group">
        <p class="col-md-2">
            <button id="FamilyEnrollmentUpdate" onclick="return Apply()" class="btn">Add Family Member</button>
        </p>
    </div>*@
    <p>
        @Html.ActionLink("Back to Home", "Index", "Home")
    </p>
</body>
</html>


<style>
    .btn:hover {
        background-color: blue;
        color: white;
    }

    .button {
        text-align: right;
    }

    a {
        text-decoration: none;
        display: inline-flex;
        padding: 8px 8px;
    }

    .fa-arrow-circle-o-right:hover {
        border-radius: 50%;
        color: white;
        background-color: blue;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

        table tr {
            border-bottom: 1px solid black;
        }

    .next {
        background-color: #333;
        padding-left: 1px;
    }

    .round {
        border-radius: 50%;
    }
</style>

<script>
    function JobDescription() {

        @*window.location.href = "/CareerCenter/JobDescription?JobApplicant_id=@ViewBag.JobApplicant_id"*@
        window.location.href = "/CareerCenter/JobDescription";
    }


</script>




