
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contact Us</title>
</head>
<body>
    <h3></h3>
    <div class="mapouter">
        <div class="gmap_canvas">
            <iframe width="560" height="400" id="gmap_canvas"
                    src="https://maps.google.com/maps?q=1501%20n%20grimes%20hobbs%20new%20mexico&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>Google Maps Generator by <a href="https://www.embedgooglemap.net"></a>
        </div>
    </div>
    <p></p>
    <p></p>
    <div class="form-horizontal">
        <div class="col-md-3">
            <div id="divFirstName" class="form-group">
                <input type="text" class="form-control" id="txtFirstName" name="FirstName" placeholder="First Name" />
            </div>
            <div id="divLastName" class="form-group">
                <input type="text" class="form-control" id="txtLastName" name="LastName" placeholder="Last Name" />
            </div>
            <div id="divEmail" class="form-group">
                <input type="text" class="form-control" id="txtEmail" name="Email" placeholder="Email" />
            </div>
            <div id="divPhoneNumber" class="form-group">
                <input type="text" class="form-control" id="txtPhoneNumber" name="PhoneNumber" placeholder="Phone Number" />
            </div>
        </div>
        <div class="col-md-3">
            <div id="divSubject" class="form-group">
                <input type="text" class="form-control" id="txtSubject" name="Subject" placeholder="Subject" />
            </div>
            <div id="divCommentBox" class="form-group">
                <textarea class="form-control" id="txtComment" name="Comment" placeholder="Please leave comment here!"></textarea>
            </div>
            <div class="divSubmit">
                <input type="submit" @*onclick="Submit()"*@ value="Submit" class="btn">
            </div>
        </div>
    </div>

    <div class="">
        <footer>
            <div class="footer_container" id="footerTop">
                <div class="inner_footer">
                    <div>
                        <div class="logo_container">
                            <img src="@Url.Content("~/App_Files/images/WatsonTruckImage.jpg")" width="155" height="54"><br>
                            <img src="@Url.Content("~/App_Files/images/WatsonHopperImage.jpg")" width="155" height="120" style="padding-top:20px;">
                        </div>
                        <div id="footerWatsonTruck" class="footer_third">
                            <label>Watson Truck & Supply</label><br />
                            <div>1501 N Grimes</div>
                            <div>Hobbs, NM 88240</div><br />
                            <label style="display:table-cell">Contact:</label>
                            <div>Jerry Elliott</div>
                            <div>575-397-2411</div>
                            <a href="mailto:jerryelliot@watsontruck.com">jerryelliot@watsontruck.com</a>
                        </div>
                        <div id="footerWatsonHopper" class="footer_third">
                            <label>Watson Hopper, Inc.</label><br />
                            <div>1700 West Marland</div>
                            <div>Hobbs, NM 88240</div><br />
                            <label style="display:table-cell">Contact:</label>
                            <div>Mike Slaugh</div>
                            <div>575-397-2411</div>
                            <a href="mailto:mslaugh@watsonhopper.com">mslaugh@watsonhopper.com</a>
                        </div>
                        <div id="footerUnitShop" class="footer_third">
                            <label>Unit Shop, LLC</label><br />
                            <div>1501 N Grimes</div>
                            <div>Hobbs, NM 88240</div><br />
                            <label style="display:table-cell">Contact:</label>
                            <div>Dale May</div>
                            <div>575-397-2411</div>
                            <a href="mailto:dmay@watsontruck.com">dmay@watsontruck.com</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>

<style>
.mapouter {
    position: relative;
    text-align: right;
    height: 400px;
    width: 560px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 400px;
    width: 560px;
}

.btn:hover {
    background-color: #2e4593;
    color: white;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html, body {
    height: 100%;
}

    #footerTop {
        border-top: 10px solid #2e4593;
        padding-top: 35px;
    }

.footer_container {
    display: flex;
    overflow: hidden;
    padding: 30px 0;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    clear: both;
}



.inner_footer {
    display: block;
    margin: 0 auto;
    width: 1100px;
    height: 100%;
}

.inner_footer .logo_container {
    width: 30%;
    float: left;
    height: 100%;
    display: block;
}

.inner_footer .logo_container img {
    width: 50%;
    height: auto;
}

.inner_footer .footer_third {
    width: 21%;
    margin-right: 10px;
    float: left;
    height: 100%;
}


.inner_footer .footer_third:last-child {
    margin-right: 0;
}

#footerWatsonTruck, #footerWatsonHopper, #UnitShop {
    border-right: 1px solid;
    border-right-style: solid;
    border-right-color: #2e4593;
}
</style>

<script>

    var JobApplicant_id;

    document.addEventListener("DOMContentLoaded", function () {
        document.querySelector("#divSubmit").addEventListener("click", function () {
            FirstName = document.getElementById("txtFirstName").value;
            LastName = document.getElementById("txtLastName").value;
            Email = document.getElementById("txtEmail").value;
            PhoneNumber = document.getElementById("txtPhoneNumber").value;
            Subject = document.getElementById("txtSubject").value;
            Comments = document.getElementById("txtComment").value;

            var data = {
                "JobApplicant_id": JobApplicant_id,
                "FirstName": FirstName,
                "LastName": LastName,
                "Email": Email,
                "PhoneNumber": PhoneNumber,
                "Subject": Subject,
                "Comments": Comments,
            }

            var ret = postData('ContactUs', data)
                .then(data => {
                    console.log(data);
                    FirstStep(data);
                })
                .catch(error => console.error(error))

        })
    })

    function postData(url, data) {
        //Default options are marked with *
        console.log(data);
        console.log(JSON.stringify(data));
        return fetch(url, {
            body: JSON.stringify(data), //must match 'Content-Type' header
            cache: 'no-cache', //*default, no-cache, reload, force-cache, only-if-cached
            credentials: 'same-origin', //include, same-origin, *omit
            headers: {
                'Accept': 'application/json',
                'user-agent': 'Mozilla/4.0 MDN Example',
                'content-type': 'application/json'
            },
            method: 'Post', //*GET, POST, PUT, DELETE, etc...
            mode: 'same-origin', //no-cors, cors, *same-origin
            redirect: 'follow', //manual, *follow, error
            referrer: 'no-referrer', //*client, no-referrer
        }).then(res => res.json())
            .then(response => console.log('Success:', JSON.stringify(response)))
            .catch(error => console.error('Error:', error));
        //.then(Response => {
        //    console.log(Response);
        //    Response.json();
        //})
    }

    function FirstStep(emp) {
        JobApplicant_id = emp.data;
    }
</script>




