
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Leadership</title>
</head>
<body>
    <div> 
        <h3>@ViewBag.Message</h3>
    </div>
</body>
</html>
