@model Watson.Models.Family_Info


@{
    @ViewBag.Title = "spouseEmployment";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Spouse Employment</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.FamilyMember_id)

        <div class="form-horizontal">
            <hr />
            <h4>Spouse Employment</h4>
            <div class="content">
                <form action="/api/Family_Info/SpouseEmployment" method="post">
                    <div id="divSpouseEmployment">
                        <div class="form-group">
                            <label for="CurrentEmployer" class="col-md-2 control-label">Current Employer:</label>
                            <div class="col-md-10">
                                <input type="text" id="CurrentEmployer" class="form-control" name="CurrentEmployer" value="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="EmployerAddress" class="col-md-2 control-label">Employer Address:</label>
                            <div class="col-md-10">
                                <input type="text" id="EmployerAddress" class="form-control" name="EmployerAddress" value="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="City" class="col-md-2 control-label">City:</label>
                            <div class="col-md-10">
                                <input type="text" id="City" class="form-control" name="City" value="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="State" class="col-md-2 control-label">State:</label>
                            <div class="col-md-10">
                                <input type="text" id="State" class="form-control" name="State" value="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="ZipCode" class="col-md-2 control-label">Zip Code:</label>
                            <div class="col-md-10">
                                <input type="text" id="ZipCode" class="form-control" name="ZipCode" value="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="County" class="col-md-2 control-label">County:</label>
                            <div class="col-md-10">
                                <input type="text" id="County" class="form-control" name="County" value="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="PhoneNumber" class="col-md-2 control-label">Phone Number:</label>
                            <div class="col-md-10">
                                <input type="text" id="PhoneNumber" class="form-control" name="PhoneNumber" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" onclick="return validateForm()" class="btn btn-default" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    }

    <div>
        <input type="submit" onclick="location.href='api/Family_Info/SpouesContact'" value="Previous" class="btn btn-default" /> |
        <input type="submit" onclick="location.href='api/Family_Info/DependentEnrollment'" value="Continue" class="btn btn-default" />
    </div>
    <p>
        @*@Html.ActionLink("Edit", "Edit", new { id = Model.FamilyMember_id }) |*@
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
