@model Watson.Models.Employee


<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>Employee Contact</title>
</head>
<body>
    @using (Html.BeginForm("Contact", "Employee" @*new { e_id = Model.Employee_id }, FormMethod.Post*@))
    {
        @Html.AntiForgeryToken()
        @*@Html.HiddenFor(Model => Model.Employee_id, new { e_id = Model.Employee_id })*@
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-horizontal">
            <hr />
            <div class="collapsible">Employee Contact</div>
            <div class="content">
                <p></p>
                <form id="employeeContact" action="Contact()" method="post">
                    <div id="divMailingAddress">
                        <div class="form-group">
                            <label for="MailingAddress" class="col-md-2 control-label">Mailing Address:</label>
                            <div class="col-md-10">
                                <input type="text" id="MailingAddress" class="form-control" placeholder="Street" name="MailingAddress" value="" />
                                <input type="text" id="MailingAddress" class="form-control" placeholder="PO Box" name="MailingAddress" />
                                <input type="text" id="City" class="form-control" placeholder="City" name="City" value="" />
                                <input type="text" id="State" class="form-control" placeholder="State" name="State" value="" />
                                <input type="text" id="ZipCode" class="form-control" placeholder="Zip Code" name="ZipCode" value="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="County" class="col-md-2 control-label">County:</label>
                            <div class="col-md-10">
                                <input type="text" id="County" class="form-control" placeholder="County" name="County" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Physical Address same as Mailing Address</label>
                        <div class="col-md-10">
                            <label class="radio-inline"><input type="radio" id="addressSame" class="radio-inline" onclick="Address()" name="Address" value="true" checked />Yes</label>
                            <label class="radio-inline"><input type="radio" id="addressNotSame" class="radio-inline" onclick="Address()" name="Address" value="false" />No</label>
                        </div>
                    </div>
                    <div id="divPhysicalAddress" class="hide">
                        <div class="form-group">
                            <label for="PhysicalAddress" class="col-md-2 control-label">Physical Address:</label>
                            <div class="col-md-10">
                                <input type="text" id="PhysicalAddress" class="form-control" placeholder="Street" name="PhysicalAddress" value="" />
                                <input type="text" id="PhysicalAddress" class="form-control" placeholder="PO Box" name="PhysicalAddress" />
                                <input type="text" id="City" class="form-control" placeholder="City" name="City" value="" />
                                <input type="text" id="State" class="form-control" placeholder="State" name="State" value="" />
                                <input type="text" id="ZipCode" class="form-control" placeholder="Zip Code" name="ZipCode" value="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="County" class="col-md-2 control-label">County:</label>
                            <div class="col-md-10">
                                <input type="text" id="County" class="form-control" placeholder="County" name="County" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Within City Limits?</label>
                        <div class="col-md-10">
                            <label class="radio-inline"><input type="radio" id="YesCityLimits" class="radio-inline" name="CityLimits" value="true" checked />Yes</label>
                            <label class="radio-inline"><input type="radio" id="NoCityLimits" class="radio-inline" name="CityLimits" value="false" />No</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="EmailAddress" class="col-md-2 control-label">Email Address:</label>
                        <div class="col-md-10">
                            <input type="text" id="EmailAddress" class="form-control" placeholder="Email" name="EmailAddress" value="" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Phone Number:</label>
                        <div class="container">
                            <div class="col-xs-4">
                                <div class="form-group phone-number">
                                    <div class="col-xs-3">
                                        <input type="tel" id="PhoneNumber" class="form-control" name="PhoneNumber" size="3" maxlength="3" value="" />
                                    </div>
                                    <div class="col-xs-3">
                                        <input type="tel" id="PhoneNumber" class="form-control" name="PhoneNumber" size="3" maxlength="3" value="" />
                                    </div>
                                    <div class="col-xs-4">
                                        <input type="tel" id="PhoneNumber" class="form-control" name="PhoneNumber" size="4" maxlength="4" value="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Cell Phone:</label>
                        <div class="container">
                            <div class="col-xs-4">
                                <div class="form-group phone-number">
                                    <div class="col-xs-3">
                                        <input type="tel" id="CellPhone" class="form-control" name="CellPhone" size="3" maxlength="3" value="" />
                                    </div>
                                    <div class="col-xs-3">
                                        <input type="tel" id="CellPhone" class="form-control" name="CellPhone" size="3" maxlength="3" value="" />
                                    </div>
                                    <div class="col-xs-4">
                                        <input type="tel" id="CellPhone" class="form-control" name="CellPhone" size="4" maxlength="4" value="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn" onclick="return message()" @*ContactUpdate()*@ value="submit">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    }
    <hr />
    <div class="button">
        <button type="button" class="btn" onclick="return EmployeeEnrollment()" value="Previous">Previous</button> |
        <button type="button" class="btn" onclick="return FamilyMemberEnrollment()" value="Continue">Continue</button>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit"@*, new { e_id = Model.Employee_id }*@) |
        @Html.ActionLink("Back to Overview", "EmployeeOverview")
    </p>
</body>
</html>

<style>
    .collapsible {
        background-color: #333;
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: center;
        outline: none;
        font-size: 15px;
    }

        .active, .collapsible:hover {
            background-color: #555;
        }

    .content {
        padding: 0 18px;
        display: none;
        overflow: hidden;
        background-color: #f1f1f1;
    }

    .hide{
        display: none;
    }
    .previous {
        background-color: #333;
        color: white;
    }

    .btn {
        background-color: #333;
        color: white;
    }

    .button {
        text-align: right;
    }

    a {
        text-decoration: none;
        display: inline-block;
        padding: 8px 16px;
    }

        a:hover {
            background-color: #ddd;
            color: black;
        }

    .phone-number .col-xs-3::after {
        content: "-";
        position: absolute;
        right: 5px;
        color: black;
        border: 0px solid;
        top: 5px;
    }

    .phone-number .col-xs-4 {
        width: 25%;
    }

    .phone-number .col-xs-3, .phone-number .col-xs-4 {
        padding-left: 0;
    }
</style>

<script>
    //document.addEventListener("DOMContentloaded", function () {}
    var col = document.querySelectorAll(".collapsible");
    var i;

    for (i = 0; i < col.length; i++) {
        col[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }

        });
    }
</script>

<script>
    function Address() {

        if (document.getElementById('addressSame').checked) {

            document.getElementById('divPhysicalAddress').style.display = 'none';
        }
        else {
            document.getElementById('divPhysicalAddress').style.display = 'visible';
        }

    }
</script>

<script>
    function ContactUpdate() {

        redirectTime = "3000";
        redirectURL = window.location('/Employee/Detail');

        var message;
        var alert = confirm("Would you like to proceed? If yes, click the OK button to continue");

        if (alert == true) {

            message = "Please proceed to the next segment, Thank you!!";

            window.setTimeout(function () {

                window.location = "redirectURL", redirectTime
            });
        }
        else {

            message = "Please review your information and submit when complete";
        }
        document.getElementById("EmployeeEnrollmentUpdate").value = message;

        return confirm('EmployeeEnrollmentUpdate')

        function message() {
            alert("Successfully Added!!")
        }
    }
</script>

<script>
    function GetEmployeeContact() {

        e_id = document.getElementById("e_id").value
        MailingAddress = document.getElementsByName("MailingAddress").value;
        PhyscialAddress = document.getElementsByName("PhyscialAddress").value;
        City = document.getElementById("City").value;
        State = document.getElementById("State").value;
        ZipCode = document.getElementById("ZipCode").value;
        County = document.getElementById("County").value;
        //CityLimits = document.getElementsByName("CityLimits").value;
        EmailAddress = document.getElementById("EmailAddress").value;
        PhoneNumber = document.getElementById("PhoneNumber").value;
        CellPhone = document.getElementById("CellPhone").value;

        CityLimits = document.querySelectorAll('input ["CityLimits"]').forEach(function (e, i) {
            if (e.checked) {
                CityLimits = e.value;
            }
        });

        var data = {

            "e_id": e_id,
            "MailingAddress": MailingAddress,
            "PhysicalAddress": PhysicalAddress,
            "City": City,
            "State": State,
            "ZipCode": ZipCode,
            "County": County,
            "CityLimits": CityLimits,
            "EmailAddress": EmailAddress,
            "PhoneNumber": PhoneNumber,
            "CellPhone": CellPhone,
        }

        var ret = postData('/Employee/Contact', data)
            .then(data => ContactUpdate(data))
            .catch(error => console.error(error))

        ret();
    }

    function postData(url, data) {
        //Default options are marked with *
        return fetch(url, {
            body: JSON.stringify(data), //must match 'Content-Type' header
            cache: 'no-cache', //*default, no-cache, reload, force-cache, only-if-cached
            credentials: 'same-origin', //include, same-origin, *omit
            headers: {
                'user-agent': 'Mozilla/4.0 MDN Example',
                'content-type': 'application/json'
            },
            method: 'Post', //*GET, POST, PUT, DELETE, etc...
            mode: 'cors', //no-cors, cors, *same-origin
            redirect: 'follow', //manual, *follow, error
            referrer: 'no-referrer', //*client, no-referrer
        })
            .then(Response => Response.json()) //parses response to JSON
    }
</script>

@*<body> EXAMPLE
        This is a post.  It will actually take you to another page<br />
        <div>
            <form method="post" action="/postUser">
                <label for="firstname">First Name: </label><input type="text" name="firstname" /><br />
                <label for="lastname">Last Name: </label><input type="text" name="lastname" /><br />
                <label for="age">Age: </label><input type="number" name="age" /><br />
                <input type="submit" /><br />
            </form>
        </div>
        <div>
            This is not a post.  This uses Javascript to post the data behind the scenes<br />
            <label for="fname">First Name: </label><input type="text" name="fname" id="fname" /><br />
            <label for="lname">Last Name: </label><input type="text" name="lname" id="lname" /><br />
            <label for="a">Age: </label><input type="number" name="a" id="a" /><br />
            <button onclick="submitUser();">Submit</button><br />
        </div>
    </body>*@

<script>
    function EmployeeEnrollment() {

        window.location.href = "/Employee/EmployeeEnrollment";
    }

    function FamilyMemberEnrollment() {

        window.location.href = "/Employee/FamilyMemberEnrollment";
    }
</script>
