@model Watson.Models.Employee


@*@{
        @ViewBag.Title = "Insurance";
    }*@

<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Insurance Overview</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-horizontal">
            <hr />
            <button class="button"><h4>Group Health Insurance</h4></button>
            <div class="content">
                <form action="GroupHealthInsurance()" method="post">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input id="Submit" type="button" onclick="return GroupHealthInsurance()" class="btn" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="form-horizontal">
            <hr />
            <button class="button"><h4>Life Insurance</h4></button>
            <div class="content">
                <form action="LifeInsurance()" method="post">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input id="Submit" type="button" onclick="return LifeInsurance()" class="btn" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    }
</body>
</html>
<p>
    @Html.ActionLink("Back to Overview", "EmployeeOverview", new { e_id = Model.Employee_id })
</p>

<style>
    .btn {
        background-color: #333;
        color: white;
    }

    .button {
        text-align: right;
        background-color: #333;
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: center;
        outline: none;
        font-size: 15px
    }
</style>

<script>
    function GroupHealthInsurance() {

        location.href = "location.href='Group_Health/GroupHealthInsuranceEnrollment";
    }

    function LifeInsurance() {

        location.href = "location.href='Life_Insurance/LifeInsuranceEnrollment";
    }
</script>