<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>Enrollment Selection</title>
</head>
<body>
    <input type="hidden" id="Employee_id" class="form-control" name="Employee_id" value=@ViewBag.Employee_id />
    <div class="container">
        <h3>Enrollment Selection</h3>
        <div id="EnrollmentSelection">
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            <div id="NewEmployeeEnrollment">
                                <button type="button" class="button" onclick="return NewEmployeeEnrollment()">Employee Enrollment</button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div id="FamilyEnrollment">
                                <button type="button" class="button" onclick="return FamilyEnrollment()">Family Enrollment</button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div id="GroupHealthEnrollment">
                                <button type="button" class="button" onclick="return GrpHealthEnrollment()">Group Health Enrollment</button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div id="LifeInsuranceEnrollment">
                                <button type="button" class="button" onclick="return LifeInsuranceEnrollment()">Life Insurance Enrollment</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <p>
        @Html.ActionLink("Back to Employee Overview", "EmpOverview")
    </p>
</body>
</html>

<style>
    .button {
        background-color: #333;
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: center;
        outline: none;
        font-size: 15px;
    }

        .active, .button:hover {
            background-color: #555;
        }

    .content {
        padding: 0 18px;
        display: none;
        overflow: hidden;
        background-color: #f1f1f1;
    }

    a {
        text-decoration: none;
        display: inline-block;
        padding: 8px 16px;
    }

        a:hover {
            background-color: #ddd;
            color: black;
        }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    div {
        text-align: center;
    }
</style>

<script type="text/javascript">

    function NewEmployeeEnrollment() {
        window.location.href = "/Employee/NewEmployeeEnrollment";

    }

    function FamilyEnrollment() {
        window.location.href = "/Employee/FamilyEnrollment";

    }

    function GrpHealthEnrollment() {
        window.location.href = "/Group_Health/GrpHealthInsPremiums";
        //window.location.href = "/Group_Health/NewGrpHealthEnrollment";
    }

    function LifeInsuranceEnrollment() {
        window.location.href = "/Life_Insurance/NewLifeInsEnrollment";
    }

    //function goBack() {
    //    window.history.go(-1);
    //}
</script>


