@{
    ViewBag.Title = "NewEmployeeEnrollment";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>Employee Enrollment</title>
</head>
<body>
    <div class="form-horizontal">
        <hr />
        <div class="collapsible" id="FirstStep">Enrollment</div>
        <div id="divEmpEnrollment" class="content">
            <p></p>
            <p></p>
            <div class="form-group">
                <label class="col-md-2 control-label">Employee Role:</label>
                <div class="col-md-10">
                    <select id="EmployeeRole" class="form-control">
                        <option id="ManagerRole" value="Manager">Manger</option>
                        <option id="EmployeeRole" value="Employee">Employee</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="CurrentEmployer" class="col-md-2 control-label">Current Employer:</label>
                <div class="col-md-10">
                    <input type="text" id="CurrentEmployer" class="form-control" name="CurrentEmployer" value="" />
                </div>
            </div>
            <div class="form-group">
                <label for="JobTitle" class="col-md-2 control-label">Job Title:</label>
                <div class="col-md-10">
                    <input type="text" id="JobTitle" class="form-control" name="JobTitle" value="" />
                </div>
            </div>
            <div class="form-group">
                <label for="EmpNumber" class="col-md-2 control-label">Employee Number:</label>
                <div class="col-md-10">
                    <input type="text" id="EmpNumber" class="form-control" name="SSN" value="" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Marital Status:</label>
                <div class="col-md-10">
                    <select id="MaritalStatus" class="form-control">
                        <option value="MarriedwDep">Married with Dependents</option>
                        <option value="Married">Married</option>
                        <option value="SinglewDep">Single with Dependents</option>
                        <option value="Single">Single</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="FirstName" class="col-md-2 control-label">First Name:</label>
                <div class="col-md-10">
                    <input type="text" id="FirstName" class="form-control" name="FirstName" value="" />
                </div>
            </div>
            <div class="form-group">
                <label for="LastName" class="col-md-2 control-label">Last Name:</label>
                <div class="col-md-10">
                    <input type="text" id="LastName" class="form-control" name="LastName" value="" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Date of Birth:</label>
                <div class="col-md-10">
                    <input type="date" id="DateOfBirth" class="form-control" name="DateOfBirth" value="" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Gender:</label>
                <div class="col-md-10" id="Gender">
                    <label class="radio-inline"><input type="radio" name="Gender" class="radio-inline" checked />Male</label>
                    <label class="radio-inline"><input type="radio" name="Gender" class="radio-inline" />Female</label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-11">
                    <button id="EmployeeEnrollmentUpdate" class="btn">Save</button>
                </div>
            </div>
        </div>
    </div>
    @* Contact Info *@
    <div class="form-horizontal">
        <hr />
        <div class="collapsible" id="SecondStep">Contact Information</div>
        <div id="divEmpEnrollment" class="content">
            <p></p>
            <p></p>
            <div id="divMailingAddress">
                <div class="form-group">
                    <label for="MailingAddress" class="col-md-2 control-label">Mailing Address:</label>
                    <div class="col-md-10">
                        <input type="text" id="MailingAddress" class="form-control" placeholder="Street" name="MailingAddress" value="" />
                        <input type="text" id="PObox" class="form-control" placeholder="PO Box" name="PObox" value="" />
                        <input type="text" id="City" class="form-control" placeholder="City" name="City" value="" />
                        <input type="text" id="State" class="form-control" placeholder="State" name="State" value="" />
                        <input type="text" id="ZipCode" class="form-control" placeholder="Zip Code" name="ZipCode" value="" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="County" class="col-md-2 control-label">County:</label>
                    <div class="col-md-10">
                        <input type="text" id="County" class="form-control" placeholder="County" name="County" value="" />
                    </div>
                </div>
            </div>
            <div class="form-group" id="divMailingAddress">
                <label class="col-md-2 control-label">Physical Address same as Mailing Address?</label>
                <div class="col-md-10">
                    <label class="radio-inline"><input type="radio" id="addressSame" class="radio-inline" onclick="HidePhysicalAddress()" name="Address" value="true" />Yes</label>
                    <label class="radio-inline"><input type="radio" id="addressNotSame" class="radio-inline" onclick="ShowPhysicalAddress()" name="Address" value="false" checked />No</label>
                </div>
            </div>
            <div id="divPhysicalAddress">
                <div class="form-group">
                    <label for="PhysicalAddress" class="col-md-2 control-label">Physical Address:</label>
                    <div class="col-md-10">
                        <input type="text" id="PhysicalAddress" class="form-control" placeholder="Street2" name="PhysicalAddress" value="" />
                        <input type="text" id="PObox2" class="form-control" placeholder="PO Box2" name="PObox" value="" />
                        <input type="text" id="City2" class="form-control" placeholder="City2" name="City" value="" />
                        <input type="text" id="State2" class="form-control" placeholder="State2" name="State" value="" />
                        <input type="text" id="ZipCode2" class="form-control" placeholder="Zip Code2" name="ZipCode" value="" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="County" class="col-md-2 control-label">County:</label>
                    <div class="col-md-10">
                        <input type="text" id="County2" class="form-control" placeholder="County2" name="County" value="" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Within City Limits?</label>
                <div class="col-md-10" id="CityLimits">
                    <label class="radio-inline"><input type="radio" id="YesCityLimits" class="radio-inline" name="CityLimits" value="true" checked />Yes</label>
                    <label class="radio-inline"><input type="radio" id="NoCityLimits" class="radio-inline" name="CityLimits" value="false" />No</label>
                </div>
            </div>
            <div class="form-group">
                <label for="EmailAddress" class="col-md-2 control-label">Email Address:</label>
                <div class="col-md-10">
                    <input type="text" id="EmailAddress" class="form-control" placeholder="Email" name="EmailAddress" value="" />
                </div>
            </div>
            <div class="form-group">
                <div class="container">
                    <label class="col-md-2 control-label">Phone Number:</label>
                    <div class="col-xs-4">
                        <div class="form-group phone-number">
                            <div class="col-xs-3">
                                <input type="tel" id="PhoneNumber" class="form-control" name="PhoneNumber" size="3" maxlength="3" value="" />
                            </div>
                            <div class="col-xs-3">
                                <input type="tel" id="PhoneNumber" class="form-control" name="PhoneNumber" size="3" maxlength="3" value="" />
                            </div>
                            <div class="col-xs-4">
                                <input type="tel" id="PhoneNumber" class="form-control" name="PhoneNumber" size="4" maxlength="4" value="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="container">
                    <label class="col-md-2 control-label">Cell Phone:</label>
                    <div class="col-xs-4">
                        <div class="form-group phone-number">
                            <div class="col-xs-3">
                                <input type="tel" id="CellPhone" class="form-control" name="CellPhone" size="3" maxlength="3" value="" />
                            </div>
                            <div class="col-xs-3">
                                <input type="tel" id="CellPhone" class="form-control" name="CellPhone" size="3" maxlength="3" value="" />
                            </div>
                            <div class="col-xs-4">
                                <input type="tel" id="CellPhone" class="form-control" name="CellPhone" size="4" maxlength="4" value="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-11">
                    <button id="EmployeeEnrollmentUpdateStepTwo" @*onclick="return ContactUpdate()"*@ class="btn">Save</button>
                </div>
            </div>
        </div>
    </div>
    @* Health Ins Premium *@
    <div class="form-horizontal">
        <hr />
        <div class="collapsible" id="ThirdStep">Health Insurance Premiums</div>
        <table class="container-fluid" id="InsPremTable" cellpadding="20" cellspacing="20">
            <tr>
                <td>
                    <table class="table table-hover" width= "400" cellpadding="10" cellspacing="10" border="1">
                        <thead class="thead-dark">
                            <tr>
                                <th>Plan</th>
                                <th>Employee Only</th>
                                <th>Employee/Spouse</th>
                                <th>Employee/Dependent(s)</th>
                                <th>Employee/Family</th>
                                <th>Yearly Cost</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <label>(MEC Plan) Monthly Cost per Employee:</label>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="EmployeeOnly" size="10" id="MECmonthlyCostEmpOnly" value="" readonly />
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="EmployeeAndSpouse" size="10" id="MECmonthlyCostEmpSp" value="" readonly />
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="EmployeeAndDependent" size="10" id="MECmonthlyCostEmpDep" value="" readonly />
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="EmployeeAndFamily" size="10" id="MECmonthlyCostEmpFam" value="" readonly />
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="YearlyPremiumCost" size="10" id="MECMnthyearlyPremiumCost" value="" readonly />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>(MEC Plan) Bi-weekly Cost per Employee:</label>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="EmployeeOnly" size="10" id="MECbiweeklyCostEmpOnly" value="" readonly />
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="EmployeeAndSpouse" size="10" id="MECbiweeklyCostEmpSp" value="" readonly />
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="EmployeeAndDependent" size="10" id="MECbiweeklyCostEmpDep" value="" readonly />
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="EmployeeAndFamily" size="10" id="MECbiweeklyCostEmpFam" value="" readonly />
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="YearlyPremiumCost" size="10" id="MECBiWkyearlyPremiumCost" value="" readonly />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>(Standard Plan) Monthly Cost per Employee:</label>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="EmployeeOnly" size="10" id="StndmonthlyCostEmpOnly" value="" readonly />
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="EmployeeAndSpouse" size="10" id="StndmonthlyCostEmpSp" value="" readonly />
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="EmployeeAndDependent" size="10" id="StndmonthlyCostEmpDep" value="" readonly />
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="EmployeeAndFamily" size="10" id="StndmonthlyCostEmpFam" value="" readonly />
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="YearlyPremiumCost" size="10" id="StndMnthyearlyPremiumCost" value="" readonly />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>(Standard Plan) Bi-weekly Cost per Employee:</label>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="EmployeeOnly" size="10" id="StndbiweeklyCostEmpOnly" value="" readonly />
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="EmployeeAndSpouse" size="10" id="StndbiweeklyCostEmpSp" value="" readonly />
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="EmployeeAndDependent" size="10" id="StndbiweeklyCostEmpDep" value="" readonly />
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="EmployeeAndFamily" size="10" id="StndbiweeklyCostEmpFam" value="" readonly />
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="YearlyPremiumCost" size="10" id="StndBiWkyearlyPremiumCost" value="" readonly />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>(Buy Up Plan) Monthly Cost per Employee:</label>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="EmployeeOnly" size="10" id="BuyUpmonthlyCostEmpOnly" value="" readonly />
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="EmployeeAndSpouse" size="10" id="BuyUpmonthlyCostEmpSp" value="" readonly />
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="EmployeeAndDependent" size="10" id="BuyUpmonthlyCostEmpDep" value="" readonly />
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="EmployeeAndFamily" size="10" id="BuyUpmonthlyCostEmpFam" value="" readonly />
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="YearlyPremiumCost" size="10" id="BuyUpMnthyearlyPremiumCost" value="" readonly />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>(Buy Up Plan) Bi-weekly Cost per Employee:</label>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="EmployeeOnly" size="10" id="BuyUpbiweeklyCostEmpOnly" value="" readonly />
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="EmployeeAndSpouse" size="10" id="BuyUpbiweeklyCostEmpSp" value="" readonly />
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="EmployeeAndDependent" size="10" id="BuyUpbiweeklyCostEmpDep" value="" readonly />
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="EmployeeAndFamily" size="10" id="BuyUpbiweeklyCostEmpAndFam" value="" readonly />
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-10">
                                        <input type="text" name="YearlyPremiumCost" size="10" id="BuyUpBiWkyearlyPremiumCost" value="" readonly />
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="col-md-12 table-bordered" readonly>
                        These prices are in effect for 01-01-2019 through 12-31-2019<br />
                        <p></p>
                        Estimated costs* for COBRA participants for the 2019 year:<br />
                        <p></p>
                        Employee rate MEC plan $75.00 per month<br />
                        Employee/Family rate MEC plan $230.00 per month<br />
                        --------------------------------------------------<br />
                        Employee rate Premium plan $638.52 per month<br />
                        Employee/Family rate Premium plan $1,518 per month<br />
                        <p></p>
                        *Note: a 2% Adminstration fee will be added to the COBRA rates listed<br />
                    </div>
                    @*<p>
                        <button type="submit" class="btn" id="InsPremiumUpdateStepThree" @*onclick="InsPremiumUpdate()" value="Submit">Save</button>
                    </p>*@
                    <div class="form-group">
                        <div class="col-md-offset-11">
                            <button id="InsPremiumUpdateStepThree" @*onclick="return ContactUpdate()"*@ class="btn">Continue</button>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    @* HealthIns Supplement *@
    <div class="form-horizontal">
        <hr />
        <div class="collapsible" id="InsSupplement">Health Insurance Supplement</div>
        <table class="container-fluid table-bordered" id="InsSupplementTable" cellpadding="20" cellspacing="20">
            <tr>
                <td>
                    <table class="table table-hover" width="400" cellpadding="10" cellspacing="10" border="1">
                        <thead class="thead-dark">
                            <tr>
                                <th><u>Dental Cost Analysis</u></th>
                                <th><u>Guardian Dental Plan</u></th>
                                <th></th>
                                <th><u>Vision Cost Analysis</u></th>
                                <th><u>Guardian Vision Plan</u></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <label>Employee Only:</label>
                                </td>
                                <td>
                                    <div class="col-md-3">
                                        <input type="text" name="EmployeeOnly" size="10" id="DentalCostEmpOnly" value="" readonly/>
                                    </div>
                                </td>
                                <td></td>
                                <td>
                                    <label>Employee Only:</label>
                                </td>
                                <td>
                                    <div class="col-md-3">
                                        <input type="text" name="EmployeeOnly" size="10" id="VisionCostEmpOnly" value="" readonly/>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>           
                    <div class="form-group">
                        <div class="col-md-offset-11">
                            <button id="InsSupplementUpdateStepFour" @*onclick="return ContactUpdate()"*@ class="btn">Continue</button>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>

<style>
    .collapsible {
        background-color: #333;
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: center;
        outline: none;
        font-size: 15px;
    }

        .active, .collapsible:hover {
            background-color: #555;
        }

    .content {
        padding: 0 18px;
        display: none;
        overflow: hidden;
        background-color: #f1f1f1;
    }

    .previous {
        background-color: #333;
        color: white;
    }

    .btn {
        background-color: #333;
        color: white;
    }

    .button {
        text-align: right;
    }

    a {
        text-decoration: none;
        display: inline-block;
        padding: 8px 16px;
    }

        a:hover {
            background-color: #ddd;
            color: black;
        }

    .phone-number .col-xs-3::after {
        content: "-";
        position: absolute;
        right: 5px;
        color: black;
        border: 0px solid;
        top: 8px;
    }

    .phone-number .col-xs-4 {
        width: 25%;
    }

    .phone-number .col-xs-3, .phone-number .col-xs-4 {
        padding-left: 0;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    table tr {
        border-bottom: 1px solid black;
    }

    td:empty {
        width: 10px;
    }

    th, td {
        text-align: left;
        padding: 0px;
    }

    th {
        border-bottom: 5px solid black;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
</style>

<script>
    var col = document.querySelectorAll(".collapsible");
    var i;

    for (i = 0; i < col.length; i++) {
        col[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }

        });
    }

    function HidePhysicalAddress() {
        document.getElementById("divPhysicalAddress").style.display = "none";
    }

    function ShowPhysicalAddress() {
        document.getElementById("divPhysicalAddress").style.display = "block";
         //div.style.display = (div.style.display == 'none') ? 'block' : 'none';
    }
       
    //function ContactUpdate() {

    //    redirectTime = "3000";
    //    redirectURL = window.location('/Employee/'); if single, will need to redirect to EnrollmentSelection page, so 
    // enroll in group health....based on marital status and dependents, will need to redirect to corresponding page

    //    var message;
    //    var alert = confirm("Would you like to proceed? If yes, click the OK button to continue");

    //    if (alert == true) {

    //        message = "Please proceed to the next segment, Thank you!!";

    //        window.setTimeout(function () {

    //            window.location = "redirectURL", redirectTime
    //        });
    //    }
    //    else {

    //        message = "Please review your information and submit when complete";
    //    }
    //    document.getElementById("EmployeeEnrollmentUpdateStepTwo").value = message;

    //    return confirm('EmployeeEnrollmentUpdateStepTwo')
    //}

    document.addEventListener("DOMContentLoaded", function () {
        document.querySelector("#EmployeeEnrollmentUpdate").addEventListener("click", function () {
            EmployeeRole = document.getElementById("EmployeeRole").value;
            CurrentEmployer = document.getElementById("CurrentEmployer").value;
            JobTitle = document.getElementById("JobTitle").value;
            EmpNumber = document.getElementById("EmpNumber").value;
            FirstName = document.getElementById("FirstName").value;
            LastName = document.getElementById("LastName").value;
            DateOfBirth = document.getElementById("DateOfBirth").value;
            MaritalStatus = document.getElementById("MaritalStatus").value;
            Gender = document.getElementById("Gender").value;        

            var data = {
                "EmployeeRole": EmployeeRole,
                "CurrentEmployer": CurrentEmployer,
                "JobTitle": JobTitle,
                "EmpNumber": EmpNumber,
                "MaritalStatus": MaritalStatus,
                "FirstName": FirstName,
                "LastName": LastName,
                "DateOfBirth": DateOfBirth,
                "Gender": Gender
            }

            var ret = postData('EmployeeEnrollmentNew', data)
                .then(data => SecondStep(data))
                .catch(error => console.error(error))
        })

        document.querySelector("#EmployeeEnrollmentUpdateStepTwo").addEventListener("click", function () {
            MailingAddress = document.getElementsById("MailingAddress").value;
            PObox = document.getElementById("PObox").value;
            City = document.getElementById("City").value;
            State = document.getElementById("State").value;
            ZipCode = document.getElementById("ZipCode").value;
            County = document.getElementById("County").value;
            PhysicalAddress = document.getElementsById("PhysicalAddress").value;
            PObox2 = document.getElementById("PObox2").value;
            City2 = document.getElementById("City2").value;
            State2 = document.getElementById("State2").value;
            ZipCode2 = document.getElementById("ZipCode2").value;
            County2 = document.getElementById("County2").value;
            EmailAddress = document.getElementById("EmailAddress").value;
            PhoneNumber = document.getElementById("PhoneNumber").value;
            CellPhone = document.getElementById("CellPhone").value;
            CityLimits = document.getElementId("CityLimits").value;

            var data = {
                "MailingAddress": MailingAddress,
                "PObox": PObox,
                "City": City,
                "State": State,
                "ZipCode": ZipCode,
                "County": County,
                "PhysicalAddress": PhysicalAddress,
                "PObox2": PObox2,
                "City2": City2,
                "State2": State2,
                "ZipCode2": ZipCode2,
                "County2": County2,
                "CityLimits": CityLimits,
                "EmailAddress": EmailAddress,
                "PhoneNumber": PhoneNumber,
                "CellPhone": CellPhone,
            }

            var ret = postData('EmpEnrollmentContact', data)
                .then(data => SecondStep(data))
                .catch(error => console.error(error))
        })

        document.querySelector("#InsPremiumUpdateStepThree").addEventListener("click", function () {
            MECmonthlyEO = document.getElementById('MECmonthlyCostEmpOnly').value
            MECmonthlyEmpSp = document.getElementById('MECmonthlyCostEmpSp').value
            MECmonthlyEmpDep = document.getElementById('MECmonthlyCostEmpDep').value
            MECmonthlyEmpFam = document.getElementById('MECmonthlyCostEmpFam').value
            MECbiweeklyEO = document.getElementById('MECbiweeklyCostEmpOnly').value
            MECbiweeklyEmpSp = document.getElementById('MECbiweeklyCostEmpSp').value
            MECbiweeklyEmpDep = document.getElementById('MECbiweeklyCostEmpDep').value
            MECbiweeklyEmpFam = document.getElementById('MECbiweeklyCostEmpFam').value

            StndmonthlyEO = document.getElementById('StndmonthlyCostEmpOnly').value
            StndmonthlyEmpSp = document.getElementById('StndmonthlyCostEmpSp').value
            StndmonthlyEmpDep = document.getElementById('StndmonthlyCostEmpDep').value
            StndmonthlyEmpFam = document.getElementById('StndmonthlyCostEmpFam').value
            StndbiweeklyEO = document.getElementById('StndbiweeklyCostEmpOnly').value
            StndbiweeklyEmpSp = document.getElementById('StndbiweeklyCostEmpSp').value
            StndbiweeklyEmpDep = document.getElementById('StndbiweeklyCostEmpDep').value
            StndbiweeklyEmpFam = document.getElementById('StndbiweeklyCostEmpFam').value

            BuyUpmonthlyEO = document.getElementById('BuyUpmonthlyCostEmpOnly').value
            BuyUpmonthlyEmpSp = document.getElementById('BuyUpmonthlyCostEmpSp').value
            BuyUpmonthlyEmpDep = document.getElementById('BuyUpmonthlyCostEmpDep').value
            BuyUpmonthlyEmpFam = document.getElementById('BuyUpmonthlyCostEmpFam').value
            BuyUpbiweeklyEO = document.getElementById('BuyUpbiweeklyCostEmpOnly').value
            BuyUpbiweeklyEmpSp = document.getElementById('BuyUpbiweeklyCostEmpSp').value
            BuyUpbiweeklyEmpDep = document.getElementById('BuyUpbiweeklyCostEmpDep').value
            BuyUpbiweeklyEmpFam = document.getElementById('BuyUpbiweeklyCostEmpAndFam').value

            var data = {
                "MECmonthlyEO": MECmonthlyEO,
                "MECmonthlyEmpSp": MECmonthlyEmpSp,
                "MECmonthlyEmpDep": MECmonthlyEmpDep,
                "MECmonthlyEmpFam": MECmonthlyEmpFam,
                "MECbiweeklyEO": MECbiweeklyEO,
                "MECbiweeklyEmpSp": MECbiweeklyEmpSp,
                "MECbiweeklyEmpDep": MECbiweeklyEmpDep,
                "MECbiweeklyEmpFam": MECbiweeklyEmpFam,
                "MECMnthyearlyPremiumCost": MECMnthyearlyPremiumCost,
                "MECBiWkyearlyPremiumCost": MECBiWkyearlyPremiumCost,

                "StndmonthlyEO": StndmonthlyEO,
                "StndmonthlyEmpSp": StndmonthlyEmpSp,
                "StndmonthlyEmpDep": StndmonthlyEmpDep,
                "StndmonthlyEmpFam": StndmonthlyEmpFam,
                "StndbiweeklyEO": StndbiweeklyEO,
                "StndbiweeklyEmpSp": StndbiweeklyEmpSp,
                "StndbiweeklyEmpDep": StndbiweeklyEmpDep,
                "StndbiweeklyEmpFam": StndbiweeklyEmpFam,
                "StndMnthyearlyPremiumCost": StndMnthyearlyPremiumCost,
                "StndBiWkyearlyPremiumCost": StndBiWkyearlyPremiumCost,

                "BuyUpmonthlyEO": BuyUpmonthlyEO,
                "BuyUpmonthlyEmpSp": BuyUpmonthlyEmpSp,
                "BuyUpmonthlyEmpDep": BuyUpmonthlyEmpDep,
                "BuyUpmonthlyEmpFam": BuyUpmonthlyEmpFam,
                "BuyUpbiweeklyEO": BuyUpbiweeklyEO,
                "BuyUpbiweeklyEmpSp": BuyUpbiweeklyEmpSp,
                "BuyUpbiweeklyEmpDep": BuyUpbiweeklyEmpDep,
                "BuyUpbiweeklyEmpFam": BuyUpbiweeklyEmpFam,
                "BuyUpMnthyearlyPremiumCost": BuyUpMnthyearlyPremiumCost,
                "BuyUpBiWkyearlyPremiumCost": BuyUpBiWkyearlyPremiumCost,
            }

            var ret = postData('/Group_Health/HealthInsPremiumUpdate', data)
                .then(data => StepThree(data))
                .catch(error => console.error(error))
        })

        //document.addEventListener("#InsSupplementUpdateStepFour").addEventListener("click", function () {
        //    document.getElementById("EmployeeOnly").value;

       

        //    var data = {
        //        "EmpOnly": EmpOnly,
        //    }

        //    var ret = postData('/Group_Health/HealthInsSupplementUpdate', data)
        //        .then(data => StepFour(data))
        //        .catch(error => console.error(error))
        //})
    })

    function SecondStep(emp) {
        document.querySelector("#FirstStep").nextElementSibling.style.display = "none";
        document.querySelector("#SecondStep").nextElementSibling.style.display = "block";
        document.querySelector("#EmployeeRole").innerHTML = emp.EmployeeRole;
        document.querySelector("#CurrentEmployer").value = emp.CurrentEmployer;
        document.querySelector("#JobTitle").value = emp.JobTitle;
        document.querySelector("#EmpNumber").value = emp.EmpNumber;
        document.querySelector("#MaritalStatus").innerHTML = emp.MaritalStatus;
        document.querySelector("#FirstName").value = emp.FirstName;
        document.querySelector("#LastName").value = emp.LastName;
        document.querySelector("#DateOfBirth").value = emp.DateOfBirth;
        document.querySelector("#Gender").value = emp.Gender;
        document.querySelector("#MailingAddress").value = emp.MailingAddress;
        document.querySelector("#PObox").value = emp.PObox;
        document.querySelector("#City").value = emp.City;
        document.querySelector("#State").value = emp.State;
        document.querySelector("#ZipCode").value = emp.ZipCode;
        document.querySelector("#County").value = emp.County;
        document.querySelector("#CityLimits").innerHTML = emp.CityLimits;
        document.querySelector("#PhysicalAddress").value = emp.PhysicalAddress;
        document.querySelector("#PObox2").value = emp.PObox2;
        document.querySelector("#City2").value = emp.City2;
        document.querySelector("#State2").value = emp.State2;
        document.querySelector("#ZipCode2").value = emp.ZipCode2;
        document.querySelector("#County2").value = emp.County2;
    }

    function StepThree(ins) {
        document.querySelector("#FirstStep").nextElementSibling.style.display = "none";
        document.querySelector("#SecondStep").nextElementSibling.style.display = "none";
        document.querySelector("#ThirdStep").nextElementSibling.style.display = "block";
        document.querySelector("#MECmonthlyEO").value = ins.MECmonthlyEO;
        document.querySelector("#MECmonthlyEmpSp").value = ins.MECmonthlyEmpSp;
        document.querySelector("#MECmonthlyEmpDep").value = ins.MECmonthlyEmpDep;
        document.querySelector("#MECmonthlyEmpFam").value = ins.MECmonthlyEmpFam;
        document.querySelector("#MECbiweeklyEO").value = ins.MECbiweeklyEO;
        document.querySelector("#MECbiweeklyEmpSp").value = ins.MECbiweeklyEmpSp;
        document.querySelector("#MECbiweeklyEmpDep").value = ins.MECbiweeklyEmpDep;
        document.querySelector("#MECbiweeklyEmpFam").value = ins.MECbiweeklyEmpFam;
        document.querySelector("#StndmonthlyEO").value = ins.StndmonthlyEO;
        document.querySelector("#StndmonthlyEmpSp").value = ins.StndmonthlyEmpSp;
        document.querySelector("#StndmonthlyEmpDep").value = ins.StndmonthlyEmpDep;
        document.querySelector("#StndmonthlyEmpFam").value = ins.StndmonthlyEmpFam;
        document.querySelector("#StndbiweeklyEO").value = ins.StndbiweeklyEO;
        document.querySelector("#StndbiweeklyEmpSp").value = ins.StndbiweeklyEmpSp;
        document.querySelector("#StndbiweeklyEmpDep").value = ins.StndbiweeklyEmpDep;
        document.querySelector("#StndbiweeklyEmpFam").value = ins.StndbiweeklyEmpFam;
        document.querySelector("#BuyUpmonthlyEO").value = ins.BuyUpmonthlyEO;
        document.querySelector("#BuyUpmonthlyEmpSp").value = ins.BuyUpmonthlyEmpSp;
        document.querySelector("#BuyUpmonthlyEmpDep").value = ins.BuyUpmonthlyEmpDep;
        document.querySelector("#BuyUpmonthlyEmpFam").value = ins.BuyUpmonthlyEmpFam;
        document.querySelector("#BuyUpbiweeklyEO").value = ins.BuyUpbiweeklyEO;
        document.querySelector("#BuyUpbiweeklyEmpSp").value = ins.BuyUpbiweeklyEmpSp;
        document.querySelector("#BuyUpbiweeklyEmpDep").value = ins.BuyUpbiweeklyEmpDep;
        document.querySelector("#BuyUpbiweeklyEmpFam").value = ins.BuyUpbiweeklyEmpFam;
        document.querySelector("#MECMnthyearlyPremiumCost").value = ins.MECMnthyearlyPremiumCost;
        document.querySelector("#MECBiWkyearlyPremiumCost").value = ins.MECBiWkyearlyPremiumCost;
        document.querySelector("#StndMnthyearlyPremiumCost").value = ins.StndMnthyearlyPremiumCost;
        document.querySelector("#StndBiWkyearlyPremiumCost").value = ins.StndBiWkyearlyPremiumCost;
        document.querySelector("#BuyUpMnthyearlyPremiumCost").value = ins.BuyUpMnthyearlyPremiumCost;
        document.querySelector("#BuyUpBiWkyearlyPremiumCost").value = ins.BuyUpBiWkyearlyPremiumCost;
    }

    function StepFour(ins) {
        document.querySelector("#FirstStep").nextElementSibling.style.display = "none";
        document.querySelector("#SecondStep").nextElementSibling.style.display = "none";
        document.querySelector("#ThirdStep").nextElementSibling.style.display = "none";
        document.querySelector("#InsSupplement").nextElementSibling.style.display = "block";
    }
  
    function postData(url, data) {
        //Default options are marked with *
        console.log(data);
        return fetch(url, {
            body: JSON.stringify(data), //must match 'Content-Type' header
            cache: 'no-cache', //*default, no-cache, reload, force-cache, only-if-cached
            credentials: 'same-origin', //include, same-origin, *omit
            headers: {
                'user-agent': 'Mozilla/4.0 MDN Example',
                'content-type': 'application/json'
            },
            method: 'Post', //*GET, POST, PUT, DELETE, etc...
            mode: 'cors', //no-cors, cors, *same-origin
            redirect: 'follow', //manual, *follow, error
            referrer: 'no-referrer', //*client, no-referrer
        })
            .then(Response => Response.json()) //parses response to JSON
    }
</script>

