@model Watson.Models.Family_Info
@{
    ViewBag.Title = "SpEnrollment";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>Spouse Enrollment</title>
</head>
<body>
    <div class="form-horizontal">
        <hr />
        <input type="hidden" id="Employee_id" class="form-control" name="Employee_id" value="@ViewBag.Employee_id" />
        <input type="hidden" id="MaritalStatus" class="form-control" name="MaritalStatus" value="@ViewBag.MaritalStatus" />
        <div class="collapsible" id="FirstStep">Spouse Enrollment</div>
        <div id="divEmpEnrollment" class="content">
            <p></p>
            <p></p>
            <div class="form-group">
                <label for="FirstName" class="col-md-2 control-label">First Name:</label>
                <div class="col-md-10">
                    <input type="text" id="FirstName" class="form-control" placeholder="First Name" name="FirstName" value="" />
                </div>
            </div>
            <div class="form-group">
                <label for="LastName" class="col-md-2 control-label">Last Name:</label>
                <div class="col-md-10">
                    <input type="text" id="LastName" class="form-control" placeholder="Last Name" name="LastName" value="" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Date of Birth:</label>
                <div class="col-md-10">
                    <input type="date" id="DateOfBirth" class="form-control" name="DateOfBirth" value="" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Gender:</label>
                <div class="col-md-10">
                    <select id="Gender" class="form-control">
                        <option value="">Select Option</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-11">
                    <button type="submit" id="SpouseEnrollmentUpdate" @*onclick="DependentEnrollmentUpdate()"*@ @*id="submit"*@ class="btn">Save</button>
                </div>
            </div>
        </div>
    </div>
    @* Spouse Contact *@
    <div class="form-horizontal">
        <hr />
        <div class="collapsible" id="SecondStep">Spouse Contact</div>
        <div id="divSpEnrollment" class="content">
            <p></p>
            <p></p>
            <div id="divMailingAddress">
                <div class="form-group">
                    <label for="MailingAddress" class="col-md-2 control-label">Mailing Address:</label>
                    <div class="col-md-10">
                        <input type="text" id="MailingAddress" class="form-control" placeholder="Street" name="MailingAddress" value="" />
                        <input type="text" id="PObox" class="form-control" placeholder="PO Box" name="PObox" value="" />
                        <input type="text" id="City" class="form-control" placeholder="City" name="City" value="" />
                        <input type="text" id="State" class="form-control" placeholder="State" name="State" value="" />
                        <input type="text" id="ZipCode" class="form-control" placeholder="Zip Code" name="ZipCode" value="" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="County" class="col-md-2 control-label">County:</label>
                    <div class="col-md-10">
                        <input type="text" id="County" class="form-control" placeholder="County" name="County" value="" />
                    </div>
                </div>
            </div>
            <div class="form-group" id="divMailingAddress">
                <label class="col-md-2 control-label">Physical Address same as Mailing Address?</label>
                <div class="col-md-10">
                    <label class="radio-inline"><input type="radio" id="addressSame" class="radio-inline" onclick="HidePhysicalAddress()" name="Address" value="true" />Yes</label>
                    <label class="radio-inline"><input type="radio" id="addressNotSame" class="radio-inline" onclick="ShowPhysicalAddress()" name="Address" value="false" checked />No</label>
                </div>
            </div>
            <div id="divPhysicalAddress">
                <div class="form-group">
                    <label for="PhysicalAddress" class="col-md-2 control-label">Physical Address:</label>
                    <div class="col-md-10">
                        <input type="text" id="PhysicalAddress" class="form-control" placeholder="Street" name="PhysicalAddress" value="" />
                        <input type="text" id="City2" class="form-control" placeholder="City" name="CityTwo" value="" />
                        <input type="text" id="State2" class="form-control" placeholder="State" name="StateTwo" value="" />
                        <input type="text" id="ZipCode2" class="form-control" placeholder="Zip Code" name="ZipCodeTwo" value="" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="EmailAddress" class="col-md-2 control-label">Email Address:</label>
                <div class="col-md-10">
                    <input type="text" id="EmailAddress" class="form-control" placeholder="Email" name="EmailAddress" value="" />
                </div>
            </div>
            <div class="form-group">
                <label for="PhoneNumber" class="col-md-2 control-label">Phone Number:</label>
                <div class="col-md-10">
                    <input type="text" id="PhoneNumber" class="form-control" placeholder="Phone #" name="PhoneNumber" maxlength="14" value="" />
                </div>
            </div>
            <div class="form-group">
                <label for="CellPhone" class="col-md-2 control-label">Cell Phone:</label>
                <div class="col-md-10">
                    <input type="text" id="CellPhone" class="form-control" placeholder="Cell Phone #" name="CellPhone" maxlength="14" value="" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-11">
                    <button id="SpouseEnrollmentUpdateStepTwo" class="btn">Save</button>
                </div>
            </div>
        </div>
    </div>
    @* Spouse Employment *@
    <div class="form-horizontal">
        <hr />
        <div class="collapsible" id="ThirdStep">Spouse Employment</div>
        <div class="content">
            <p></p>
            <p></p>
            <div id="divSpEmployment">
                <div class="form-group">
                    <label for="Employer" class="col-md-2 control-label">Current Employer:</label>
                    <div class="col-md-10">
                        <input type="text" id="Employer" class="form-control" placeholder="Current Employer" name="Employer" value="" />
                    </div>
                </div>
                <div id="divEmployerAddress">
                    <div class="form-group">
                        <label for="EmployerMailingAddress" class="col-md-2 control-label">Employer Address:</label>
                        <div class="col-md-10">
                            <input type="text" id="EmployerMailingAddress" class="form-control" placeholder="Street" name="EmployerMailingAddress" value="" />
                            <input type="text" id="EmployerPObox" class="form-control" placeholder="PO Box" name="EmployerPObox" />
                            <input type="text" id="EmployerCity" class="form-control" placeholder="City" name="EmployerCity" value="" />
                            <input type="text" id="EmployerState" class="form-control" placeholder="State" name="EmployerState" value="" />
                            <input type="text" id="EmployerZipCode" class="form-control" placeholder="Zip Code" name="EmployerZipCode" value="" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="EmployerPhoneNumber" class="col-md-2 control-label">Phone Number:</label>
                    <div class="col-md-10">
                        <input type="text" id="EmployerPhoneNumber" class="form-control" placeholder="Phone #" name="EmployerPhoneNumber" maxlength="14" value="" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-11">
                    <input id="SpouseEnrollmentUpdateStepThree" type="submit" value="Save" @*onclick="SpouseEmploymentUpdate()"*@ class="btn" />
                </div>
            </div>
        </div>
    </div>
    <p>
        @Html.ActionLink("Back to Family Overview", "FamilyOverview", "Employee", new { Employee_id = ViewBag.Employee_id }, null)
    </p>
   
</body>
</html>

<style>
    .collapsible {
        background-color: #333;
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: center;
        outline: none;
        font-size: 15px;
    }

    .active, .collapsible:hover {
        background-color: blue;
    }

    .content {
        padding: 0 18px;
        display: none;
        overflow: hidden;
        background-color: #f1f1f1;
    }

    .button {
        text-align: right;
    }

    .btn:hover {
        background-color: blue;
        color: white;
    }

    a {
        text-decoration: none;
        display: inline-flex;
        padding: 8px 8px;
    }
</style>

<script>
    var col = document.querySelectorAll(".collapsible");
    var i;
    var Employee_id;

    for (i = 0; i < col.length; i++) {
        col[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }

        });
    }

    function HidePhysicalAddress() {
        document.getElementById("divPhysicalAddress").style.display = "none";
    }

    function ShowPhysicalAddress() {
        document.getElementById("divPhysicalAddress").style.display = "block";
    }

    document.addEventListener("DOMContentLoaded", function () {
        document.querySelector("#SpouseEnrollmentUpdate").addEventListener("click", function () {
            Employee_id = document.getElementById("Employee_id").value;
            FirstName = document.getElementById("FirstName").value;
            LastName = document.getElementById("LastName").value;
            DateOfBirth = document.getElementById("DateOfBirth").value;
            Gender = document.getElementById("Gender").value;

            var data = {
                "Employee_id": Employee_id,
                "FirstName": FirstName,
                "LastName": LastName,
                "DateOfBirth": DateOfBirth,
                "Gender": Gender,

            }

            var ret = postData('SpEnrollmentNew', data)
                .then(data => { console.log(data);
                              FirstStep(data);
                              })
                .catch(error => console.error(error))

            //fetch('SpEnrollmentNew', {
            //    body: json.stringify(data), //must match 'content-type' header
            //    cache: 'no-cache', //*default, no-cache, reload, force-cache, only-if-cached
            //    credentials: 'same-origin', //include, same-origin, *omit
            //    headers: {
            //        'accept': 'application/json',
            //        'user-agent': 'mozilla/4.0 mdn example',
            //        'content-type': 'application/json'
            //    },
            //    method: 'post', //*get, post, put, delete, etc...
            //    mode: 'same-origin', //no-cors, cors, *same-origin
            //    redirect: 'follow', //manual, *follow, error
            //    referrer: 'no-referrer', //*client, no-referrer
            //}).then(res => res.json())
            //    .then(response => FirstStep(response))
            //    .catch(error => console.error('error:', error));

        })

        document.querySelector("#SpouseEnrollmentUpdateStepTwo").addEventListener("click", function () {
            Employee_id = document.getElementById("Employee_id").value;
            MailingAddress = document.getElementsById("MailingAddress").value;
            PObox = document.getElementById("PObox").value;
            City = document.getElementById("City").value;
            State = document.getElementById("State").value;
            ZipCode = document.getElementById("ZipCode").value;
            County = document.getElementById("County").value;
            PhysicalAddress = document.getElementsById("PhysicalAddress").value;
            City2 = document.getElementById("City2").value;
            State2 = document.getElementById("State2").value;
            ZipCode2 = document.getElementById("ZipCode2").value;
            EmailAddress = document.getElementById("EmailAddress").value;
            PhoneNumber = document.getElementById("PhoneNumber").value;
            CellPhone = document.getElementById("CellPhone").value;

            var data = {
                "Employee_id": Employee_id,
                "MailingAddress": MailingAddress,
                "PObox": PObox,
                "City": City,
                "State": State,
                "ZipCode": ZipCode,
                "County": County,
                "PhysicalAddress": PhysicalAddress,
                "City2": City2,
                "State2": State2,
                "ZipCode2": ZipCode2,
                "EmailAddress": EmailAddress,
                "PhoneNumber": PhoneNumber,
                "CellPhone": CellPhone,
            }

            var ret = postData('SpEnrollmentContact', data)
                .then(data => {
                    console.log(data);
                    SecondStep(data);
                })
                .error(error => console.error(error))

        })

        document.querySelector("#SpouseEnrollmentUpdateStepThree").addEventListener("click", function () {
            Employee_id = document.getElementById("Employee_id").value;
            Employer = document.getElementsById("Employer").value;
            EmployerAddress = document.getElementById("EmployerAddress").value;
            EmployerPObox = document.getElementById("EmployerPObox").value;
            EmployerCity = document.getElementById("EmployerCity").value;
            EmployerState = document.getElementById("EmployerState").value;
            EmployerZipCode = document.getElementById("EmployerZipCode").value;
            EmployerPhoneNumber = document.getElementById("EmployerPhoneNumber").value;


            var data = {
                "Employee_id": Employee_id,
                "Employer": Employer,
                "EmployerAddress": EmployerAddress,
                "EmployerPObox": EmployerPObox,
                "EmployerCity": EmployerCity,
                "EmployerState": EmployerState,
                "EmployerZipCode": EmployerZipCode,
                "EmployerPhoneNumber": EmployerPhoneNumber,
            }

            var ret = postData('SpEmployment', data)
                .then(data => {
                    console.log(data);
                    ThirdStep(data);
                })
                .catch(error => console.error(error))
        })

    })

    function FirstStep(sp) {
        document.querySelector("#FirstStep").nextElementSibling.style.display = "none";
        document.querySelector("#SecondStep").nextElementSibling.style.display = "block";
        Employee_id = sp.data;

    }

    function SecondStep(sp) {
        document.querySelector("#FirstStep").nextElementSibling.style.display = "none";
        document.querySelector("#SecondStep").nextElementSibling.style.display = "block";
        Employee_id = sp.data;
    }

    function ThirdStep(sp) {
        document.querySelector("#FirstStep").nextElementSibling.style.display = "none";
        document.querySelector("#SecondStep").nextElementSibling.style.display = "none";
        document.querySelector("#ThirdStep").nextElementSibling.style.display = "block";
        Employee_id = sp.data;
    }

    function postData(url, data) {
        //Default options are marked with *
        console.log(data);
        console.log(JSON.stringify(data));
        return fetch(url, {
            body: JSON.stringify(data), //must match 'Content-Type' header
            cache: 'no-cache', //*default, no-cache, reload, force-cache, only-if-cached
            credentials: 'same-origin', //include, same-origin, *omit
            headers: {
                'Accept': 'application/json',
                'user-agent': 'Mozilla/4.0 MDN Example',
                'content-type': 'application/json'
            },
            method: 'Post', //*GET, POST, PUT, DELETE, etc...
            mode: 'same-origin', //no-cors, cors, *same-origin
            redirect: 'follow', //manual, *follow, error
            referrer: 'no-referrer', //*client, no-referrer
        }).then(res => res.json())
            .then(response => console.log('Success:', JSON.stringify(response)))
            .catch(error => console.error('Error:', error));
            //.then(Response => {
            //    console.log(Response);
            //    Response.json();
            //}) //parses response to JSON
    }
</script>






