@model List<Watson.Models.Employee>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Employee Overview</title>
</head>
<body>
    <div>

    </div>
</body>
</html>
